{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
    function getVotes(){
      $.ajax({
          type: "GET",
	  url: '{% url 'cyka:topicauction_join_asi' member.uuid %}?table={{asi.table.id}}&function=votes',
	  complete: function (response) {
	      updateVotes(response.responseText)
          }
      });
    }
    function submit(action){
      $.ajax({
          type: "POST",
	  url: '{% url 'cyka:topicauction_join_asi' member.uuid %}',
	  dataType: "json",
	  data:{
	      table:{{table.id}},
              function:action,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post'
          },
	  complete: function (response) {
	      updateVotes(response.responseText)
          }
      });
    }
    function updateVotes(json){
	var obj = $.parseJSON(json);
	var mvoted = 0
	$.each(obj.table , function(index, val) { 
	    $("#_topic_voted").text(val.voted);
	    mvoted = val.mvoted
        });
	if (obj.member_votes_left == 0){
	    $( "#_plus-btn" ).addClass( "disabled" );
	} else {
	    $( "#_plus-btn" ).removeClass( "disabled" );
	}
	if (mvoted == 0){
	    $( "#_minus-btn" ).addClass( "disabled" );
	} else {
	    $( "#_minus-btn" ).removeClass( "disabled" );
        }
	var i = 0;
	var j = obj.member_votes_left    
	for(i = 0; i < obj.max_votes; i++ ){
	    if (j > 0){
	        $( "#_vote-" + i ).addClass( "icon-blue" );
	        $( "#_vote-" + i ).removeClass( "icon-grey" );
		j--;
            } else {
	        $( "#_vote-" + i ).addClass( "icon-grey" );
	        $( "#_vote-" + i ).removeClass( "icon-blue" );
	    }
        }
    }
  
  function refreshVotes(){
    tmp = setInterval(function() {
	getVotes();
    }, 3000);
    refreshs.push(tmp);
  }

function updateStep(){
  $.ajax({
      type: "GET",
      url: '{% url 'cyka:get_json_step' %}?member={{member.uuid}}',
      complete: function (response) {
	var obj = $.parseJSON(response.responseText);
	var next = false;
	var open = false;
        $.each(obj.steps , function(index, val) {
	  if (val.sid == {{step.step}} && val.status != '{{step.status}}'){
            open = true;
	  } else if (val.sid == {{step.step}} && val.status != 'O'){
	    next = true;
	  } else if (next && val.status != 'O'){
            open = true;
	  }
        });
	if(open){
	  $('#modal_step').modal('open');
        }
      }
  });
}

function refreshStep(){
  tmp = setInterval(function() {
    updateStep();
  }, 3000);
  refreshs.push(tmp);
}

  $(document).ready(function(){
    $('#_right_nav').append('<ul>' + get_buttons() + '</ul>');
    {% if step.status == 'S' %}
    updateVotes('{{ json_votes }}');
    refreshVotes();
    {% endif %}
    refreshStep();
    $('.modal').modal({dismissible: false});
    //$('.tooltipped').tooltip({enterDelay: 1000});
  });
    function leave(url){
        $('#_right_nav').empty();
        aurl(url);
    }

function get_buttons(){
        html = '<li style="display: inline">' +
                  '<a class="btn-floating waves-effect waves-light red" style="margin-right: 5px"' +
		    'onclick="leave(\'{% url 'cyka:personal_schedule_jostle' member.uuid %}\')">' + 
		    '<i class="right material-icons tooltipped" data-tooltip="Verlassen">exit_to_app</i></a>' +
               '</li>' +
               '<li style="display: inline">' +
		  '<a id="_plus-btn" style="margin-right: 5px" class="btn-floating waves-effect waves-light blue {% if step.status != 'S' %}disabled{% endif %}"' +
		    'onclick="submit(\'plus\')">' + 
		    '<i class="material-icons tooltipped" data-tooltip="Stimme abgeben">add</i></a>' +
               '</li>' +
               '<li style="display: inline">' +
                 '<a id="_minus-btn" style="margin-right: 5px" class="btn-floating waves-effect waves-light blue {% if step.status != 'S' %}disabled{% endif %}"' +
		    'onclick="submit(\'minus\')">' + 
		    '<i class="material-icons tooltipped" data-tooltip="Verlassen">remove</i></a>' +
               '</li>'; 
	return html;
}
</script>
{% endblock %}
{% block content %}
    <div class="col actionarea">
<div class="col padplan">
    <div class="card row">
        <div class="card-content black-text">
	    <span class="card-title grey-text text-darken-2">{{asi.table.card.heading}}</span>
	    <p>{{asi.table.card.desc}}<p>
        </div>
        <div class="card-action black-text">
	    <div id="_supporter">
		    <p class="icon-text"><i class="material-icons icon-blue icon-text">fiber_manual_record</i>(<span id="_topic_voted">{{asi.votes}}</span>)
	            {% for s in supporter %}
	            <span class="badge blue lighten-4">{{s.member.name}}</span>
		    {% endfor %}</p>
	    </div>
        </div>
    </div>
    <div class="row">
	<iframe  frameborder="0" 
            marginheight="0" 
            marginwidth="0" 
	    scrolling="auto" name="{{etherpad.name}}" src="{{etherpad.domain}}/{{etherpad.pad}}?showChat=false&showLineNumbers=false&userName={{etherpad.user}}" 
	    width="100%" 
            height="550px">
	</iframe>
    </div>
</div>
    </div>
    <div class="col navarea">
    </div>
    {% if step.status == 'S' %}
        <div id="_votes" class="row navarea bottom">
	    {% for v in votes %}
	    <i id="_vote-{{v}}" class="material-icons icon-blue">fiber_manual_record</i>
            {% endfor %}
	</div>
    {% endif %}

<!-- Modal Structure -->
<div id="modal_step" class="modal">
  <div class="modal-content">
    <h4>Weiter</h4>
    {% if step.status == 'S' %}
    <p>Die Abstimmung wurde beendet</p>
    {% else %}
    <p>Weiter zur nächsten Aktion</p>
    {% endif %}
  </div>
  <div class="modal-footer">
      <a class="modal-close waves-effect blue btn" onclick="leave('{% url 'cyka:personal_schedule_jostle' member.uuid %}')">OK</a>
  </div>
</div>
{% endblock %}
