{% load material_form %}
{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
    function getVotes(){
      $.ajax({
          type: "GET",
	  url: '{% url 'cyka:topicauction_join_asi' member.uuid %}?table=all&function=votes',
	  complete: function (response) {
	      updateVotes(response.responseText)
          }
      });
    }
  function refreshVotes(){
    tmp = setInterval(function() {
	getVotes();
    }, 3000);
    refreshs.push(tmp);
  }
    function updateVotes(json){
	var obj = $.parseJSON(json);
	$("#_topic_voted").text(obj.topic_voted);
	$.each(obj.table , function(index, val) { 
	    $("#_vote_" + val.id).text(val.voted);
        });
	var i = 0;
	var j = obj.member_votes_left    
	for(i = 0; i < obj.max_votes; i++ ){
	    if (j > 0){
	        $( "#_vote-" + i ).addClass( "icon-blue" );
	        $( "#_vote-" + i ).removeClass( "icon-grey" );
		j--;
            } else {
	        $( "#_vote-" + i ).addClass( "icon-grey" );
	        $( "#_vote-" + i ).removeClass( "icon-blue" );
	    }
        }
    }

function updateStep(){
  $.ajax({
      type: "GET",
      url: '{% url 'cyka:get_json_step' %}?member={{member.uuid}}',
      complete: function (response) {
	var obj = $.parseJSON(response.responseText);
	var next = false;
	var open = false;
        $.each(obj.steps , function(index, val) {
	  if (val.sid == {{step.step}} && val.status != '{{step.status}}'){
            open = true;
	  } else if (val.sid == {{step.step}} && val.status != 'O'){
	    next = true;
	  } else if (next && val.status != 'O'){
            open = true;
	  }
        });
	if(open){      
	  $('#modal_step').modal('open');
        }
      }
  });
}

function refreshStep(){
  tmp = setInterval(function() {
    updateStep();
  }, 3000);
  refreshs.push(tmp);
}

  $(document).ready(function(){
    getVotes();
    {% if step.status == 'S' %}
    refreshVotes();
    {% endif %}
    refreshStep();
    set_active_label('#_vote_label');
    $('.tooltipped').tooltip({enterDelay: 1000});
    $('.modal').modal({dismissible: false});
  });

</script>
{% endblock %}
<div class="cardcontainer">
        {% for t in tables %}
            {% if t.progress == 100 %}
	    <div class="item card-panel mplanopen blue lighten-5" onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:topicauction_join_asi' member.uuid %}?table={{ t.table.id }}')" style="display:flex; flex-direction: column;">
                <div style="flex-grow: 1;">
		    <span class="black-text card-title" STYLE="font-size:16px">{{t.table.card.heading}}</span><br/>
		    <span class="grey-text text-darken-2">{{t.table.card.desc}}</span>
                </div>
                <div style="margin-bottom: -15px;">
		    <p class="icon-text" style="margin-bottom: 0px;"><i class="material-icons icon-blue icon-text">fiber_manual_record</i>(<span id="_vote_{{t.table.id}}">{{t.votes}}</span>)</p>
                </div>
            </div>
            {% endif %}
	{% endfor %}
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
</div>
<div class="divider"></div>
<div class="cardcontainer">
        {% for t in tables %}
            {% if t.progress != 100 %}
	      <div class="item card-panel mplanopen grey lighten-5">
		<div class="progress" style="margin-top: -10px;">
		      <div class="determinate" style="width: {{t.progress}}%"></div>
                </div>
                <div style="flex-grow: 1;">
		    <span class="black-text card-title" STYLE="font-size:16px">{{t.table.card.heading}}</span><br/>
		    <span class="grey-text text-darken-2">{{t.table.card.desc}}</span>
                </div>
            </div>
            {% endif %}
	{% endfor %}
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
</div>
<div class="divider"></div>
<div class="cardcontainer">
        {% for si in sis %}
            {% if si.asi == 0 %}
	      <div class="item card-panel mplanopen grey lighten-5">
		<span class="black-text card-title" STYLE="font-size:16px">{{si.card.heading}}</span><br/>
		<span class="grey-text text-darken-2">{{si.card.desc}}</span>
            </div>
            {% endif %}
	{% endfor %}
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
</div>
    {% if step.status == 'S' %}
        <div class="row navarea bottom">
	    {% for v in votes %}
	        <i id="_vote-{{v}}" class="material-icons icon-blue">fiber_manual_record</i>
            {% endfor %}
	</div>
    {% endif %}

<!-- Modal Structure -->
<div id="modal_step" class="modal">
  <div class="modal-content">
    <h4>Weiter</h4>
    {% if step.status == 'S' %}
    <p>Die Abstimmung wurde beendet, es können keine Stimmen mehr abgegeben werden</p>
    {% else %}
    <p>Weiter zur nächsten Aktion</p>
    {% endif %}
  </div>
  <div class="modal-footer">
      <a class="modal-close waves-effect blue btn" onclick="aurl('{% url 'cyka:personal_schedule_jostle' member.uuid %}')">OK</a>
  </div>
</div>
