{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  function updateVotes(json){
    var obj = $.parseJSON(json);
    $.each(obj.asi , function(index, val) {
       $( "#_row_" + val.sort + "_name").text( val.name );
       $( "#_row_" + val.sort + "_votes").text( "(" + val.votes + ")");
    });
  }
  var interval = null;
  function getVotes(){
    $.ajax({
        type: "GET",
        url: '{% url 'cyka:moderator_topicauction' project.id %}?function=updatetable',
	complete: function (response) {
          updateVotes(response.responseText)
      }
    });
  }
  function refreshVotes(){
    interval = setInterval(function() {
	getVotes();
    }, 3000);
  }
  $(document).ready(function(){
    updateVotes('{{json_table}}')
    refreshVotes();
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
    function leave_agenda(url){
        clearInterval(interval);
        get_agenda();
    }   
    function leave(url){
        clearInterval(interval);
        aurl(url);
    }   
</script>
{% endblock %}
<div class="headcontainer">
    <div class="col actionarea">
      <ul class="collection">
          {% for t in table %}
	  <li class="collection-item {% if forloop.counter0 < threshold %}grey lighten-4{% endif %}"><div><span id="_row_{{forloop.counter0}}_name">_row_{{forloop.counter0}}_name {{t.name}}</span><span class="secondary-content"><i class="material-icons icon-text icon-blue">fiber_manual_record</i><span id="_row_{{forloop.counter0}}_votes" class="icon-black">({{t.votes}})</span></span></div></li>
	  {% endfor %}
      </ul>
      <a class="btn btn-medium blue waves-effect" onclick="leave('{% url 'cyka:moderator_topicauction' project.id %}?function=createtopics')">Themen übernehmen</a>
    </div>
    <div class="col right navarea">
        <div class="row">
	    <a class="btn-floating btn-large blue right" onclick="leave_agenda()"><i class="right material-icons tooltipped" data-tooltip="Agenda">group_work</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="leave('{% url 'cyka:moderator_topicauction' project.id %}')"><i class="left material-icons secondary-content">schedule</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="leave('{% url 'cyka:moderator_topicauction' project.id %}?function=asi')"><i class="left material-icons secondary-content">star_border</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue disabled" onclick="leave('{% url 'cyka:moderator_topicauction' project.id %}?function=table')"><i class="left material-icons secondary-content">assessment</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="leave('{% url 'cyka:moderator_topicauction' project.id %}?function=member')"><i class="left material-icons secondary-content">people_outline</i></a>
        </div>
    </div>
</div>
