{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  function updateVotesMember(json){
    var obj = $.parseJSON(json);
    $.each(obj.member , function(index, val) { 
	var j = val.member_votes_left    
	for(i = 0; i < val.max_votes; i++ ){
	    if (j > 0){
		//remaining votes
	        $( "#_member_" + val.id + "_vote-" + i ).addClass( "icon-blue" );
	        $( "#_member_" + val.id + "_vote-" + i ).removeClass( "icon-grey" );
	        $( "#_member_" + val.id + "_vote-" + i ).text( "lens" );
		j--;
            } else {
	        $( "#_member_" + val.id + "_vote-" + i ).addClass( "icon-grey" );
	        $( "#_member_" + val.id + "_vote-" + i ).removeClass( "icon-blue" );
	        $( "#_member_" + val.id + "_vote-" + i ).text( "radio_button_unchecked" );
	    }
        }
    });
  }
  function getVotesMember(){
    $.ajax({
        type: "GET",
        url: '{% url 'cyka:get_json_members' project.id %}',
	complete: function (response) {
          updateVotesMember(response.responseText)
      }
    });
  }
  function refreshVotesMember(){
    var tmp = setInterval(function() {
	getVotesMember();
    }, 3000);
    refreshs.push(tmp);
  }
  function updateVotes(json){
    var obj = $.parseJSON(json);
    var url = '{% url 'cyka:moderator_topicauction' project.id %}?function=join&table=';
    console.log(json);
    $.each(obj.asi , function(index, val) {
       $( "#_row_" + val.sort + "_name").text( val.name );
       $( "#_row_" + val.sort + "_votes").text( "(" + val.votes + ")");
       $( "#_row_" + val.sort + "_click").attr('onClick', "aurl('" + url + val.id + "');");
    });
  }
  function getVotes(){
    $.ajax({
        type: "GET",
        url: '{% url 'cyka:moderator_topicauction' project.id %}?function=updatetable',
        //url: '{% url 'cyka:get_json_asi' %}?project={{project.id}}',
	complete: function (response) {
          updateVotes(response.responseText)
      }
    });
  }
  function refreshVotes(){
    tmp = setInterval(function() {
	getVotes();
    }, 3000);
    refreshs.push(tmp);
  }
  $(document).ready(function(){
    $('#_back_button').attr('onclick',"aurl('{% url 'cyka:moderator_problemjostle' project.id %}')");
    $('#_reset_button').attr('onclick',"submit('O','{% url 'cyka:moderator_topicauction' project.id %}', '{{step.step}}')");
    $('#_start_button').attr('onclick',"submit('S', '{% url 'cyka:moderator_topicauction' project.id %}', '{{step.step}}')");
    $('#_stop_button').attr('onclick',"submit('B', '{% url 'cyka:moderator_topicauction' project.id %}', '{{step.step}}')");
    $('#_next_button').attr('onclick',"aurl('{% url 'cyka:moderator_priorization' project.id %}?function=member')");
    set_active_label('#_vote_label');
    activate_buttons('{{step.status}}');
    updateVotes('{{json_table}}')
    refreshVotes();
    refreshVotesMember();
    $('.tooltipped').tooltip({enterDelay: 1000});
    $('.tabs').tabs();
    $('.collapsible').collapsible();
  });
    function leave_agenda(url){
        get_agenda();
    }   
</script>
{% endblock %}
<div class="col actionarea">
    <div class="card">
    <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#__topics">Themen</a></li>
        <li class="tab col s3"><a href="#__member">Teilnehmer</a></li>
    </ul>
    <div id="__topics">
    <div id='_asi_container' class="cardcontainer">
      <div class="col mplanopen">
        <div class="collection">
          {% for t in table %}
	  <a class="collection-item" id="_row_{{forloop.counter0}}_click" onmouseover="this.style.cursor='pointer'"><div>
		  {% if forloop.counter0 < threshold %}
			  <i class="material-icons icon-text icon-blue">check_box</i>
		  {% else %}
			  <i class="material-icons icon-text icon-blue">check_box_outline_blank</i>
		  {% endif %}
		  <span id="_row_{{forloop.counter0}}_name" class="icon-black">{{t.name}}</span>
		  <span class="secondary-content">
			  <span id="_row_{{forloop.counter0}}_votes" class="icon-black">({{t.votes}})</span>
		  {% if forloop.counter0 < threshold %}
			  <i class="material-icons icon-text icon-blue">lens</i>
		  {% else %}
			  <i class="material-icons icon-text icon-blue">radio_button_unchecked</i>
		  {% endif %}
		  </span>
	  </div></a>
	  {% endfor %}
        </div>
      </div>
    </div>
    </div>
    <div id="__member">
      <div id='_member_container' class="cardcontainer">
        <div class="col mplanopen">
	  <ul class="collection">
              {% for m in member %}
	      <li class="collection-item"><div>{{m.member.name}}<span class="secondary-content">{% for i in votes %}<i id="_member_{{m.member.id}}_vote-{{i}}" class="material-icons icon-text icon-blue">lens</i>{% endfor %}</span></div>
	      </li>
	      {% endfor %}
          </ul>
          </div>
      </div>
    </div>
    </div>
</div>
