{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  function updateVotesMember(json){
    var obj = $.parseJSON(json);
    $.each(obj.member , function(index, val) { 
	var j = val.member_votes_left    
	for(i = 0; i < val.max_votes; i++ ){
	    if (j > 0){
		//remaining votes
	        $( "#_member_" + val.id + "_vote-" + i ).addClass( "icon-blue" );
	        $( "#_member_" + val.id + "_vote-" + i ).removeClass( "icon-grey" );
	        $( "#_member_" + val.id + "_vote-" + i ).text( "lens" );
		j--;
            } else {
	        $( "#_member_" + val.id + "_vote-" + i ).addClass( "icon-grey" );
	        $( "#_member_" + val.id + "_vote-" + i ).removeClass( "icon-blue" );
	        $( "#_member_" + val.id + "_vote-" + i ).text( "radio_button_unchecked" );
	    }
        }
    });
  }
  function getVotesMember(){
    $.ajax({
        type: "GET",
        url: '{% url 'cyka:get_json_members' project.id %}',
	complete: function (response) {
          updateVotesMember(response.responseText)
      }
    });
  }
  function refreshVotesMember(){
    var tmp = setInterval(function() {
	getVotesMember();
    }, 3000);
    refreshs.push(tmp);
  }
  function updateVotes(json){
    var obj = $.parseJSON(json);
    var url = '{% url 'cyka:moderator_topicauction' project.id %}?function=join&table=';
    $.each(obj.asi , function(index, val) {
       $( "#_row_" + val.sort + "_name").text( val.name );
       $( "#_row_" + val.sort + "_votes").text( "(" + val.votes + ")");
       $( "#_row_" + val.sort + "_click").attr('onClick', "leave('" + url + val.id + "');");
    });
  }
  function getVotes(){
    $.ajax({
        type: "GET",
        url: '{% url 'cyka:moderator_topicauction' project.id %}?function=updatetable',
	complete: function (response) {
          updateVotes(response.responseText)
      }
    });
  }
  function refreshVotes(){
    tmp = setInterval(function() {
	getVotes();
    }, 3000);
    refreshs.push(tmp);
  }
  $(document).ready(function(){
    updateVotes('{{json_table}}')
    refreshVotes();
    refreshVotesMember();
    $('.tooltipped').tooltip({enterDelay: 1000});
    $('.tabs').tabs();
  });
    function leave_agenda(url){
        get_agenda();
    }   
</script>
{% endblock %}
<div class="col actionarea">
      <div>
        <ul class="pagination center">
          <li class="waves-effect disabled"><a href="#!">Brainwriting</a></li>
          <li class="waves-effect disabled"><a href="#!">Themenvorschlag</a></li>
          <li class="waves-effect active blue"><a href="#!">Themenwahl</a></li>
          <li class="waves-effect disabled"><a href="#!">Priorisierung</a></li>
          <li class="waves-effect disabled"><a href="#!">Agenda</a></li>
        </ul>
      </div>
      <div class="row center">
        <a onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:moderator_problemjostle' project.id %}')"
		class="waves-effect waves-light btn-floating blue {% if step.status != 'O' %}disabled{% endif%}"><i class="material-icons tooltipped" data-tooltip="Schritt zurücksetzen">fast_rewind</i>
	</a>
	<a onmouseover="this.style.cursor='pointer'" onclick="submit('O','{% url 'cyka:moderator_topicauction' project.id %}', '{{step.step}}')"
	     class="waves-effect waves-light btn-floating blue {% if step.status == 'O' %}disabled{% endif%}">
		<i class="material-icons tooltipped" data-tooltip="Starten">replay</i>
        </a>
        <a onmouseover="this.style.cursor='pointer'" onclick="submit('S', '{% url 'cyka:moderator_topicauction' project.id %}', '{{step.step}}')"
	     class="waves-effect waves-light btn-floating blue {% if step.status != 'O' %}disabled{% endif%}"><i class="material-icons tooltipped" data-tooltip="Starten">play_arrow</i>
        </a>
        <a onmouseover="this.style.cursor='pointer'" onclick="submit('B', '{% url 'cyka:moderator_topicauction' project.id %}', '{{step.step}}')"
	     class="waves-effect waves-light btn-floating blue {% if step.status != 'S' %}disabled{% endif%}"><i class="material-icons tooltipped" data-tooltip="Stoppen">stop</i>
        </a>
        <a onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:moderator_priorization' project.id %}?function=member')"
	     class="waves-effect waves-light btn-floating blue {% if step.status != 'B' %}disabled{% endif%}">
		<i class="material-icons tooltipped" data-tooltip="nächster Schritt">fast_forward</i>
	</a>
      </div>
    <div class="card">
    <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#__topics">Themen</a></li>
        <li class="tab col s3"><a href="#__member">Teilnehmer</a></li>
    </ul>
    <div id="__topics">
    <div id='_asi_container' class="cardcontainer">
      <div class="col mplanopen">
        <div class="collection">
          {% for t in table %}
	  <a class="collection-item" id="_row_{{forloop.counter0}}_click" onmouseover="this.style.cursor='pointer'"><div>
		  {% if forloop.counter0 < threshold %}
			  <i class="material-icons icon-text icon-blue">check_box</i>
		  {% else %}
			  <i class="material-icons icon-text icon-blue">check_box_outline_blank</i>
		  {% endif %}
		  <span id="_row_{{forloop.counter0}}_name" class="icon-black">{{t.name}}</span>
		  <span class="secondary-content">
			  <span id="_row_{{forloop.counter0}}_votes" class="icon-black">({{t.votes}})</span>
		  {% if forloop.counter0 < threshold %}
			  <i class="material-icons icon-text icon-blue">lens</i>
		  {% else %}
			  <i class="material-icons icon-text icon-blue">radio_button_unchecked</i>
		  {% endif %}
		  </span>
	  </div></a>
	  {% endfor %}
        </div>
      </div>
    </div>
    <div class="card-action">
      <a class="btn btn-medium blue waves-effect" {% if not active %}disabled="true"{% endif %}  onclick="aurl('{% url 'cyka:moderator_topicauction' project.id %}?function=createtopics')">Themen übernehmen</a>
    </div>
    </div>
    <div id="__member">
      <div id='_member_container' class="cardcontainer">
        <div class="col mplanopen">
          <ul class="collection">
              {% for m in member %}
	      <li class="collection-item"><div>{{m.member.name}}<span class="secondary-content">{% for i in votes %}<i id="_member_{{m.member.id}}_vote-{{i}}" class="material-icons icon-text icon-blue">lens</i>{% endfor %}</span></div></li>
	      {% endfor %}
          </ul>
          </div>
      </div>
    </div>
    </div>
</div>
