{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
    function getVotes(){
      $.ajax({
          type: "GET",
	  url: '{% url 'cyka:moderator_topicauction' project.id %}?table={{asi.table.id}}&function=updatetable',
	  complete: function (response) {
	      updateVotes(response.responseText)
          }
      });
    }
    function updateVotes(json){
	console.log(json)
	var obj = $.parseJSON(json);
	var mvoted = 0
	$.each(obj.asi , function(index, val) { 
	    $("#_topic_voted").text(val.votes);
	    mvoted = val.mvoted
        });
    }
  
  var interval = null;
  function refreshVotes(){
    interval = setInterval(function() {
	getVotes();
    }, 3000);
  }
  $(document).ready(function(){
    small();
    updateVotes('{{ json_votes }}');
    refreshVotes();
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
    function aurl2(myurl, where) {
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $(where).html(response);
        }); 
    }
    function leave(url){
        clearInterval(interval);
        aurl(url);
    }   
</script>
{% endblock %}
{% block content %}
<div class="headcontainer">
    <div class="col actionarea">
<div class="col padplan">
    <div class="card row">
        <div class="card-content black-text">
	    <span class="card-title grey-text text-darken-2">{{asi.table.card.heading}}</span>
	    <p>{{asi.table.card.desc}}<p>
        </div>
        <div class="card-action black-text">
	    <div id="_supporter">
		    <p class="icon-text"><i class="material-icons icon-red icon-text">fiber_manual_record</i>(<span id="_topic_voted">{{asi.votes}}</span>)
	            {% for s in supporter %}
	            <span class="badge blue">{{s.member.name}}</span>
		    {% endfor %}</p>
	    </div>
        </div>
    </div>
    <div class="row">
	<iframe  frameborder="0" 
            marginheight="0" 
            marginwidth="0" 
	    scrolling="auto" name="{{etherpad.name}}" src="{{etherpad.domain}}/{{etherpad.pad}}?showChat=false&showLineNumbers=false&userName={{etherpad.user}}" 
	    width="100%" 
            height="550px">
	</iframe>
    </div>
</div>
    </div>
    <div class="col right navarea">
        <div class="row">
	    <a class="btn-floating btn-large blue right" onclick="leave_agenda()"><i class="right material-icons tooltipped" data-tooltip="Agenda">menu</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="leave('{% url 'cyka:moderator_topicauction' project.id %}')"><i class="left material-icons secondary-content">schedule</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="leave('{% url 'cyka:moderator_topicauction' project.id %}?function=table')"><i class="left material-icons secondary-content">assessment</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="leave('{% url 'cyka:moderator_topicauction' project.id %}?function=member')"><i class="left material-icons secondary-content">people_outline</i></a>
        </div>
    </div>
</div>
{% endblock %}
