{% load material_form %}
{% block javascript %}
<script>
    function submit(del){
      $.ajax({
          type: "POST",
	  url: '{% url 'cyka:personal_table' member.uuid %}?project={{project.id}}',
	  data:{
	      delete:del,
              name:$('#id_name').val(),
              //desc:$('#id_desc').val(),
              //cardid:$('#id_tableid').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post'
          },
      })
      .done(function(response) {
          $('#_appendHere').html(response);
      });
    }

</script>
{% endblock %}
{% block content %}
<!-- Modal Structure -->
    <div class="card">
        <dmc-form><form method="POST" enctype="multipart/form-data" id="post-form">
            <div class="card-content">
                {% csrf_token %}
                {% block formbody %}
                    <div class="right-align">
                        {% form %}
                        {% endform %}
                    </div>
                {% endblock %}
            </div>
        </form></dmc-form>
            <div class="card-action">
                {% block actions %}
                <div class="right-align">
                    {% block formbuttons %}
      		    <a onclick="aurl('{% url 'cyka:personal_table' member.uuid %}?project={{project.id}}')" class="btn modal-action modal-close waves-effect waves-blue btn-primary">Abbrechen</a>
		    <button onclick="submit('false')" class="btn modal-action modal-close btn-primary">Thema öffnen</button>
		    {% endblock %}
                </div>
                {% endblock %}
            </div>
    </div>
{% endblock %}
