{% extends 'cyka/full_base.html' %}
{% block extrahead %}
{% endblock %}
{% block javascript %}
<script src='{{jitsi.api}}'></script>
<script>
  var api;
  function connectRoom(room){
    var container = document.querySelector('#jitsi-container');
    var domain = "{{jitsi.domain}}";
    var options = {
	roomName: room,
        height: 700,
        parentNode: container,
    };
    api = new JitsiMeetExternalAPI(domain, options);
    api.executeCommand ('displayName', '{{jitsi.name}}'); 
    api.executeCommand ('subject', '{{jitsi.subject}}');
  }
  function connectVideo(){
	connectRoom("{{jitsi.room}}");
  }
  function hangup(){
	api.executeCommand('hangup');
	document.getElementById("jitsi-container").innerHTML = "";
  }   
  $(document).ready(function(){
    connectVideo();
    small();
    $('.tooltipped').tooltip({enterDelay: 1000});
    {% if start == "asi" %}
    aurl('{% url 'cyka:moderator_problemjostle' project.id %}?function=asi');
    {% else %}
    aurl('{% url 'cyka:admin_jostle' project.id %}?function=agenda');
    {% endif %}
  });
    //resize
    var size = 0;
    function small() {
        $("#meetcontent").outerWidth('25%');
        $("#stepcontent").outerWidth('75%');
        size = 1;
    } 
    function big() {
        $("#meetcontent").outerWidth('75%');
        $("#stepcontent").outerWidth('25%');
	size = 0;
    }
    function resize() {
	if (size == 0) {
	    small();
	} else {
	    big();
	}
    }
    function aurl(myurl) {
	$('.tooltipped').tooltip('close');
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $('#_appendHere').html(response);
        }); 
    }
    function aurl2(myurl, where) {
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $(where).html(response);
        }); 
    }
    function get_agenda(){
	$('.tooltipped').tooltip('close');
        aurl('{% url 'cyka:admin_jostle' project.id %}?function=agenda')
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>
{% endblock %}
{% block content %}
<div class="row" style="height: 100%" style="overflow: hidden">
    <div id="meetcontent" class="col" style="height: 100%; overflow: hidden">
        <div style="height: 100%" id="jitsi-container">
        </div>
    </div>
    <div id="stepcontent" class="col" style="height: 100%; overflow: auto">
        <div id="_appendHere">
        </div>
    </div>
</div>
{% endblock %}
