{% extends 'cyka/full_base.html' %}
{% block extrahead %}
<style type="text/css">
  @media only screen and (min-width : 601px) {
      #id_card_type_container {
          margin-top: 40px;
          margin-left: 50px;
      }
  }
      .groups {
	  width:25%
      }
      .wbut {
	  width:100%
      }
      .meet {
	  width:75%
      }
</style>
{% endblock %}
{% block javascript %}
<script src="https://meet.cyiko.org/external_api.js"></script>
<script>
  $(document).ready(function(){
    var container = document.querySelector('#jitsi-container');
    var domain = "{{jitsi.domain}}";
    var options = {
	roomName: "{{jitsi.room}}",
        height: 700,
        parentNode: container,
    };
    var api = new JitsiMeetExternalAPI(domain, options);
    api.executeCommand ('displayName', '{{jitsi.name}}'); 
    api.executeCommand ('subject', '{{jitsi.subject}}');
    $('.tooltipped').tooltip({enterDelay: 1000});
    {% if start == "asi" %}
    aurl('{% url 'cyka:moderator_problemjostle' project.id %}?function=asi');
    {% else %}
    aurl('{% url 'cyka:admin_jostle' project.id %}?function=agenda');
    {% endif %}
  });
    //resize
    var size = 0;
    function small() {
        $("#meetcontent").width('25%');
        $("#stepcontent").width('70%');
        size = 1;
    } 
    function resize() {
	if (size == 0) {
            $("#meetcontent").width('25%');
            $("#stepcontent").width('70%');
	    size = 1;
	} else {
            $("#meetcontent").width('75%');
            $("#stepcontent").width('20%');
	    size = 0;
	}
    }
    function aurl(myurl) {
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $('#_appendHere').html(response);
        }); 
    }
    function get_agenda(){
	$('.tooltipped').tooltip('close');
        aurl('{% url 'cyka:admin_jostle' project.id %}?function=agenda')
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>
{% endblock %}
{% block content %}
<div class="row valign change-form">
    <div id="meetcontent" class="col meet">
        <div id="jitsi-container">
        </div>
    </div>
    <div id="stepcontent" class="col groups">
        <div id="_appendHere">
        </div>
    </div>
</div>
{% endblock %}
