{% extends 'cyka/full_base.html' %}
{% block extrahead %}
{% endblock %}
{% block javascript %}
<script src='{{jitsi.api}}'></script>
<script>
  var api;
  function connectRoom(room){
    var container = document.querySelector('#jitsi-container');
    var domain = "{{jitsi.domain}}";
    var options = {
	roomName: room,
        parentNode: container,
    };
    api = new JitsiMeetExternalAPI(domain, options);
    api.executeCommand ('displayName', '{{jitsi.name}}'); 
    api.executeCommand ('subject', '{{jitsi.subject}}');
  }
  var refreshs = [];
  function clearAll(){
    var i = refreshs.length
    while (i--) {
      clearInterval(refreshs.pop());
    } 
  } 
  function connectVideo(){
	connectRoom("{{jitsi.room}}");
  }
  function hangup(){
	api.executeCommand('hangup');
	document.getElementById("jitsi-container").innerHTML = "";
  }   
    function submit(stat, _url, _step){
      $.ajax({
          type: "POST",
	  url: _url,
	  data:{
              status:stat,
	      step: _step,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post'
          },
      })
      .done(function(response) {
	clearAll();
	$('.tooltipped').tooltip('close');
        $('#_appendHere').html(response);
      });
    }
  $(document).ready(function(){
    connectVideo();
    small();
    $('.tooltipped').tooltip({enterDelay: 1000});
    aurl('{% url 'cyka:moderator_schedule' %}?project={{project.id}}');
  });
    //resize
    var size = 0;
    function small() {
        $("#meetcontent").outerWidth('25%');
        $("#stepcontent").outerWidth('75%');
        size = 1;
    } 
    function big() {
        $("#meetcontent").outerWidth('100%');
        //$("#stepcontent").outerWidth('25%');
	size = 0;
    }
    function resize() {
	if (size == 0) {
	    small();
	} else {
	    big();
	}
    }
    function aurl(myurl) {
	clearAll();
	$('.tooltipped').tooltip('close');
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $('#_appendHere').html(response);
        }); 
    }
    function aurl2(myurl, where) {
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $(where).html(response);
        }); 
    }
function set_heading(label){
    $("#_agenda_list").hide();
    $("#_heading").show();
    $("#_heading_text").text(label);
}

function set_active_label(label){
    $("#_agenda_list").show();
    $("#_heading").hide();
    $("#_brain_label").addClass("disabled");
    $("#_topic_label").addClass("disabled");
    $("#_vote_label").addClass("disabled");
    $("#_prio_label").addClass("disabled");
    $("#_agenda_label").addClass("disabled");
    $(label).removeClass("disabled");
}

function activate_buttons(status){
	if (status != 'O'){
	    $('#_back_button').addClass('disabled');
	    $('#_reset_button').removeClass('disabled');
	    $('#_start_button').addClass('disabled');
	} else {
	    $('#_back_button').removeClass('disabled');
	    $('#_reset_button').addClass('disabled');
	    $('#_start_button').removeClass('disabled');
	}
	if (status == 'S'){
	    $('#_stop_button').removeClass('disabled');
	} else {
	    $('#_stop_button').addClass('disabled');
	}
	if (status == 'B'){
	    $('#_next_button').removeClass('disabled');
	} else {
	    $('#_next_button').addClass('disabled');
	}
}
    function get_agenda(){
	$('.tooltipped').tooltip('close');
        aurl('{% url 'cyka:admin_jostle' project.id %}?function=agenda')
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

</script>
{% endblock %}
{% block content %}
<div class="row" style="height: 100%" style="overflow: hidden">
    <div id="meetcontent" class="col" style="height: 100%; overflow: hidden">
        <div style="height: 100%;" id="jitsi-container">
        </div>
    </div>
    <div id="stepcontent" class="col" style="height: 100%; overflow: auto; float: left">
      <div id="_appendHere" class="col actionarea" style="height: 100%">
      </div>
    </div>
</div>
{% endblock %}
