{% extends 'cyka/project_base.html' %}

{% block content %}
    <div class="project">
    <form method="POST" class="post-form">{% csrf_token %}
        	<div class="app-polls module">
        		<table style=width:100%>
	<caption>
             <p class="section" title="Daten">Persönliche Daten</p>
        </caption>
        {{ member_form.as_table }}
        		</table>
        {{ member.id }}
        </div>
	<div id="content-main">
        	<div class="app-polls module">
        		<table style=width:100%>
		        <caption>
            			<p class="section" title="Themen sortiert nach Priorität">Themen</p>
        		</caption>
        
			{% for prio in priority_list %}
   			        <tr class="model-question">
                		<th scope="row"><p>{{prio.priority}}</p></th>
                		<td><p>{{prio.topic.number}}</p></td>
                		<td><p>{{prio.topic.name}}</p></td>
                                <td><a href="{% url 'cyka:member_edit_up' member.id prio.priority%}"><span class="glyphicon glyphicon-arrow-up"></span></a></td>
            			</tr>
	{% endfor %}
        </table>
        </div>
    </div>
      <table>
        {{ ok_form.as_table }}
      </table>
      <button type="submit" class="save btn btn-primary">Save</button>
      <br><br>
    </form>
    <a href="{% url 'cyka:member_shuffle_topics' member.id%}"><button>Random</button></a>
  </div>
{% endblock %}
