{% extends 'cyka/personal_base.html' %}
{% block extrahead %}
{% endblock %}
{% block javascript %}
<script src='{{jitsi.api}}'></script>
<script>

function updateProject(){
  $.ajax({
      type: "GET",
      url: '{% url 'cyka:get_json_proj' %}?member={{member.uuid}}',
      complete: function (response) {
	var obj = $.parseJSON(response.responseText);
	if (obj.hasagenda){
	    $("#_agenda").removeClass('disabled');
	} else {
	    $("#_agenda").addClass('disabled');
	}
      }
  });
}

function updateButtons(stepid, divid){
  $.ajax({
      type: "GET",
      url: '{% url 'cyka:get_json_step' %}?member={{member.uuid}}&step=' + stepid,
      complete: function (response) {
	var obj = $.parseJSON(response.responseText);
	if (obj.status == 'O'){
	    $(divid).addClass('disabled');
	} else {
	    $(divid).removeClass('disabled');
	}
      }
  });
}

function refreshButtons(){
  updateProject();
  updateButtons(90, "#_priorization");
  updateButtons(40, "#_schedule");
  setInterval(function() {
    updateProject();
  }, 5000);
  setInterval(function() {
    updateButtons(40, "#_schedule");
  }, 5000);
  setInterval(function() {
    updateButtons(90, "#_priorization");
  }, 5000);
}

  //video functions
  var api = null;
  function connectRoom(room){
    var container = document.querySelector('#jitsi-container');
    var domain = "{{jitsi.domain}}";
    var options = {
	roomName: room,
        parentNode: container,
    };
    api = new JitsiMeetExternalAPI(domain, options);
    api.executeCommand ('displayName', '{{jitsi.name}}'); 
    api.executeCommand ('subject', '{{jitsi.subject}}');
  }
  function connectVideo(){
    connectRoom('{{jitsi.room}}');
  }
  function hangup(){
	api.executeCommand('hangup');
	document.getElementById("jitsi-container").innerHTML = "";
  }

  var interval = null;
  var refreshs = [];
  function clearAll(){
    clearInterval(interval);
    var i = refreshs.length
    while (i--) {
      clearInterval(refreshs.pop());
    } 
  } 
  function refreshAgenda(){
    tmp = setInterval(function() {
        $.ajax({
            type: "GET",
            url: '{% url 'cyka:get_more_agenda' member.uuid %}',
        })
        .done(function(response) {
            $('#_appendHere').html(response);
        }); 
    }, 7000);
    refreshs.push(tmp);
  }
  $(document).ready(function(){
    refreshButtons();
    connectVideo();
    $('.tooltipped').tooltip({enterDelay: 1000});
    get_agenda();
  });
    //resize
    var size = 0;
    function small() {
        $("#meetcontent").outerWidth('25%');
        $("#stepcontent").outerWidth('75%');
        size = 1;
    } 
    function big() {
        $("#meetcontent").outerWidth('100%');
        //$("#meetcontent").outerWidth('75%');
        //$("#stepcontent").outerWidth('25%');
	size = 0;
    }
    function resize() {
	if (size == 0) {
	    small();
	} else {
	    big();
	}
    }
    //TODO move to get_more_agendawq
    function get_agenda() {
	clearAll()
	$('.tooltipped').tooltip('close');
        $.ajax({
            type: "GET",
		url: "{% url 'cyka:get_more_agenda' member.uuid %}?project={{project.uuid}}",
        })
        .done(function(response) {
            $('#_appendHere').html(response);
            refreshAgenda();
        }); 
    }
    //leave page
    function aurl(myurl) {
	clearAll()
	$('.tooltipped').tooltip('close');
        aurl2(myurl, "#_appendHere" );
    }
    //refresh subarea
    function aurl2(myurl, where) {
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $(where).html(response);
        }); 
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>
{% endblock %}
{% block content %}
<div class="row" style="height: 100%" style="overflow: hidden">
    <div id="meetcontent" class="col" style="height: 100%; overflow: hidden">
        <a class="btn-floating left waves-effect waves-light blue" style="position: absolute; margin-top: 5px; margin-left: 5px" onclick="resize()"><i class="left material-icons secondary-content">zoom_out_map</i></a>
        <div style="height: 100%;" id="jitsi-container">
        </div>
    </div>
    <div id="stepcontent" class="col" style="height: 100%; overflow: auto">
      <div id="_appendHere" class="col actionarea" style="padding-right:80px">
      </div>
      <div id="_navbase" class="col right navarea">
        <div class="row">
	    <a class="btn-floating btn-large blue right" onclick="get_agenda()"><i class="right material-icons tooltipped" data-tooltip="Agenda">menu</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
        <div class="row">
	    <a  id="_schedule" onclick="aurl('{% url 'cyka:personal_schedule_jostle' member.uuid %}')" class="btn-floating btn-large blue right"><i class="material-icons">content_copy</i></a>
        </div>
        <div class="row">
            <a id="_priorization" class="btn-floating btn-large waves-effect waves-light right blue" onclick="aurl('{% url 'cyka:member_priorization' member.uuid %}?function=priority_list')"><i class="left material-icons secondary-content">assignment</i></a>
        </div>
        <div class="row">
            <a id="_agenda" class="btn-floating btn-large waves-effect waves-light right blue" onclick="aurl('{% url 'cyka:member_priorization' member.uuid %}?function=agenda')"><i class="left material-icons secondary-content">group_work</i></a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
