{% load material_form %}
{% block extrahead %}
      <style>
      .debugrow .debugcol {
        border: 1px dotted #0313fc
      }
      .editarea {
          width: 8%;
      }
      .tablearea {
          width: 92%;
      }
	.mplan {
	  margin-left: 1%;
	  margin-right: 1%;
          width: 31%;
          height: 180px;
        }
      </style>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
    small();
    $('.tooltipped').tooltip();
  });
</script>
{% endblock %}
    <div class="col tablearea">
      <div class="row valign change-form">
        {% for t in tables %}
	    <a href="{% url 'cyka:personal_join_table' member.uuid %}?table={{t.id}}">
		<div class="col card mplan tooltipped" data-tooltip="Beitreten">
                    <div class="card-content black-text">
		        <span class="card-title grey-text text-darken-2">{{t.name}}</span>
                    </div>
                </div>
	    </a>
	{% endfor %}
      </div>
    </div>
    <div class="col right editarea">
	    <a  onclick="aurl('{% url 'cyka:personal_table' member.uuid %}?table=new')" class="btn-floating btn-large red right tooltipped" data-tooltip="Neuer Themenvorschlag"><i class="material-icons">add</i></a>
    </div>
