{% extends 'cyka/personal_base.html' %}
{% block extrahead %}
{% endblock %}
{% block javascript %}
<script src='{{jitsi.api}}'></script>
<script>
  var interval = null;
  function refreshAgenda(){
    interval = setInterval(function() {
        $.ajax({
            type: "GET",
            url: '{% url 'cyka:get_more_agenda' member.uuid %}',
        })
        .done(function(response) {
            $('#_appendHere').html(response);
        }); 
    }, 7000);
  }
  $(document).ready(function(){
    var container = document.querySelector('#jitsi-container');
    var domain = "{{jitsi.domain}}";
    var options = {
	roomName: "{{jitsi.room}}",
        height: 700,
        parentNode: container,
    };
    var api = new JitsiMeetExternalAPI(domain, options);
    api.executeCommand ('displayName', '{{jitsi.name}}'); 
    api.executeCommand ('subject', '{{jitsi.subject}}');
    big();
    {% if start == "table" %}
    aurl('{% url 'cyka:personal_table' member.uuid %}?project={{project.uuid}}');
    {% else %}
    get_agenda();
    {% endif %}
  });
    //resize
    var size = 0;
    function small() {
        $("#meetcontent").outerWidth('25%');
        $("#stepcontent").outerWidth('75%');
        size = 1;
    } 
    function big() {
        $("#meetcontent").outerWidth('75%');
        $("#stepcontent").outerWidth('25%');
	size = 0;
    }
    function resize() {
	if (size == 0) {
	    small();
	} else {
	    big();
	}
    }
    function get_agenda() {
	clearInterval(interval)
	$('.tooltipped').tooltip('close');
        $.ajax({
            type: "GET",
		url: "{% url 'cyka:get_more_agenda' member.uuid %}?project={{project.uuid}}",
        })
        .done(function(response) {
            $('#_appendHere').html(response);
            refreshAgenda();
        }); 
    }
    function aurl(myurl) {
	clearInterval(interval)
	$('.tooltipped').tooltip('close');
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $('#_appendHere').html(response);
        }); 
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div id="meetcontent" class="col">
        <div id="jitsi-container">
        </div>
    </div>
    <div id="stepcontent" class="col">
        <div id="_appendHere">
        </div>
    </div>
</div>
{% endblock %}
