{% extends 'cyka/personal_base.html' %}
{% block extrahead %}
<style type="text/css">
  @media only screen and (min-width : 601px) {
      #id_card_type_container {
          margin-top: 40px;
          margin-left: 50px;
      }
      }
      .groups {
	  width:25%
      }
      .wbut {
	  width:100%
      }
      .meet {
	  width:75%
      }
      .fullh {
        height: 100%
      }
      .derow .decol {
        border: 1px dotted #0313fc
      }
      .editarea {
          margin-top: 5px;
          width: 8%;
      }
      .tablearea {
          width: 92%;
      }
</style>
{% endblock %}
{% block javascript %}
<script src="https://meet.cyiko.org/external_api.js"></script>
<script>
  $(document).ready(function(){
    small();
    var container = document.querySelector('#jitsi-container');
    var domain = "{{jitsi.domain}}";
    var options = {
	roomName: "{{jitsi.room}}",
        height: 700,
        parentNode: container,
    };
    var api = new JitsiMeetExternalAPI(domain, options);
    api.executeCommand ('displayName', '{{jitsi.name}}'); 
    api.executeCommand ('subject', '{{jitsi.subject}}');
    aurl('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=pad');
    $('.tooltipped').tooltip();
  });
    //resize
    var size = 0;
    function small() {
        $("#meetcontent").width('25%');
        $("#stepcontent").width('70%');
        size = 1;
    } 
    function resize() {
	if (size == 0) {
            $("#meetcontent").width('25%');
            $("#stepcontent").width('70%');
	    size = 1;
	} else {
            $("#meetcontent").width('75%');
            $("#stepcontent").width('20%');
	    size = 0;
	}
    }
    function aurl(myurl) {
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $('#_appendHere').html(response);
        }); 
    }
</script>
{% endblock %}
{% block content %}
<div class="row valign change-form">
    <div id="meetcontent" class="col meet">
        <div id="jitsi-container">
        </div>
    </div>
    <div id="stepcontent" class="col groups fullh">
        <div class="col editarea right">
            <div class="row">
                <a class="btn-floating btn-large white waves-effect waves-light right" onclick="resize()"><i class="left material-icons secondary-content blue icon-grey">code</i></a>
            </div>
            <div class="row">
	        <a class="btn-floating btn-large red right" href="{% url 'cyka:personal_workflow' member.uuid %}?start=table&project={{project.uuid}}"><i class="right material-icons tooltipped" data-tooltip="Verlassen">exit_to_app</i></a>
            </div>
            <div class="row">
		    <a  onclick="aurl('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=edit')" class="btn-floating btn-large red right"><i class="material-icons tooltipped" data-tooltip="Kurzbeschreibung editieren">edit</i></a>
            </div>
        </div>
        <div id="_appendHere" class="col tablearea right">
        </div>
    </div>
</div>
{% endblock %}
