{% extends 'cyka/personal_base.html' %}
{% load material_form %}
{% block extrahead %}
      <style>
	.mplan {
	  margin-left: 1%;
	  margin-right: 1%;
          width: 48%;
          height: 180px;
        }
      </style>
{% endblock %}
{% block javascript %}
<script>
  function open_modal(header, desc, url, id) {
    if(document.getElementById("id_heading").hasChildNodes()){
        document.getElementById("id_heading").childNodes[0].textContent = header;
    } else {
        var text = document.createTextNode(header);
        document.getElementById("id_heading").appendChild(text);
    }
    if(document.getElementById("id_desc").hasChildNodes()){
        document.getElementById("id_desc").childNodes[0].textContent = desc;
    } else {
        text = document.createTextNode(desc);
        document.getElementById("id_desc").appendChild(text);
    }
    document.getElementById("id_cardid").setAttribute('value', id) 
    document.getElementById("id_delete").setAttribute('value', 'false') 
    // document.getElementById("delete_card").setAttribute('href', url + '&delete=true&cardid=' + id) 
    //document.getElementById("save_card").setAttribute('formaction', url + '&save=true&cardid=' + id) 
    $("label[for='id_heading']").addClass('active');
    $("label[for='id_desc']").addClass('active');
  }
function delete_card(){
    document.getElementById("id_delete").setAttribute('value', 'true') 
    return confirm("Möchten Sie die Karte löschen?");
  }
</script>
<script>
  $(document).on('turbolinks:load', function() {
  M.Modal._count = 0;
  $('.modal').modal();
});
//  $(document).ready(function(){
//    console.log("Ready");
//    $( ".log" ).text( "Ready Function called." );
//    $('.modal').modal();
//  });
</script>
{% endblock %}
{% block content %}
<div class="row valign change-form">
    <div class="col s12 m8 offset-m2 l8 offset-l2">
        <div class="card">
		<a href="#modal1" class="modal-trigger btn-floating btn-large red right"><i class="material-icons">edit</i></a>
        </div>
    </div>
</div>
<div class="row valign change-form">
    <div class="col s12 m8 offset-m2 l8 offset-l2">
        {% for c in cards %}
	    <a href="#modal2" class="modal-trigger">
		<div class="col card yellow mplan" onclick="return open_modal('{{c.heading}}', '{{c.desc}}', '{% url 'cyka:personal_card' member.uuid %}?project={{project.id}}','{{c.id}}');">
                    <div class="card-content">
		        <span class="card-title grey-text text-darken-2">{{c.heading}}</span>
		        <p>{{c.desc}}</p>
                    </div>
                </div>
	    </a>
	{% endfor %}
    </div>
</div>
  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
        <dmc-form><form method="POST" enctype="multipart/form-data">
            <div class="card-content">
                {% csrf_token %}
                {% block formbody %}
                    <div class="right-align">
                        {% form %}
                        {% endform %}
                    </div>
                {% endblock %}
            </div>
            <div class="card-action">
                {% block actions %}
                <div class="right-align">
                    {% block formbuttons %}
      		    <a href="#!" class="btn modal-action modal-close waves-effect waves-blue btn-primary">Abbrechen</a>
		    <span onclick="return delete_card();">
		        <button class="btn modal-action modal-close btn-primary" type="submit">Löschen</button>
		    </span>
		    <button class="btn modal-action modal-close btn-primary" type="submit">Speichern</button>
		    {% endblock %}
                </div>
                {% endblock %}
            </div>
        </form></dmc-form>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
        <dmc-form><form method="POST" enctype="multipart/form-data">
            <div class="card-content">
                {% csrf_token %}
                    <div class="right-align">
                        {% form %}
                        {% endform %}
                    </div>
            </div>
            <div class="card-action">
                <div class="right-align">
      		    <a href="#!" class="btn modal-action modal-close waves-effect waves-blue btn-primary">Abbrechen</a>
		    <button class="btn modal-action modal-close btn-primary" type="submit">Speichern</button>
                </div>
            </div>
        </form></dmc-form>
    </div>
  </div>
{% endblock %}
