{% extends 'cyka/base.html' %}

{% block extrahead %}
<style type="text/css">
  @media only screen and (min-width : 601px) {
      #id_card_type_container {
          margin-top: 40px;
          margin-left: 50px;
      }
}
</style>
{% endblock %}

{% block content %}
<script>
function confirm_click(name)
{
    return confirm("Möchten Sie das Projekt '" + name + "' löschen?");
}
  $(document).ready(function(){
    $( "#_base_workshop_list" ).addClass( "active" );
  });
</script>

<div class="row valign change-form">
    <div class="{% block formclass %}col s12 m8 offset-m2 l8 offset-l2{% endblock %}">
	{% for p in projects %}
        <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{{ p.name }}</span>
		    <span>{{ p.question }}</span>
                </div>
                <div class="card-action">
                    {% block actions %}
                    <div class="right-align">
			<a href="{% url 'cyka:project_details' p.id %}"><button class="btn btn-primary">Zum Workshop</button></a>
			<span onclick="return confirm_click('{{p.name}}');">
			    <a href="{% url 'cyka:project_delete' p.id %}"><button class="btn btn-delete">Löschen</button></a>
			</span>
                    </div>
                    {% endblock %}
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% block result %}
{% endblock %}
{% endblock %}

