{% extends 'cyka/project_base.html' %}
{% load material_form %}
{% block extrahead %}
{% endblock %}
{% block content %}
<script type="text/javascript">
  var counter = 0;
  
  function add(id) {
    ele = document.getElementById(id);
    if (ele.hasChildNodes() == 0) {
      counter += 1;
      var text = document.createTextNode(counter);
      document.getElementById(id).appendChild(text)
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
    <div class="row valign change-form">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            <div class="card">
                <div class="card-content">
		    <script>var counter = 0;</script>
                    <span class="card-title grey-text text-darken-2">Teilnehmer des Workshops</span>
		    <ul class="collapsible">
	            <li>
      			<div class="collapsible-header"><i class="material-icons">supervisor_account</i>Teilnehmer</div>
			<div class="collapsible-body">
		            <div class="collection">
                            {% for member in project.member_set.all %}{% if member.mtype == 'M' %}
		            <a href="{% url 'cyka:member_edit' member.id %}" class="collection-item">
		                <i class="left secondary-content">
		                <span id="{{member.id}}" class="badge"></span>
			        </i>{{member.name}}</i><i class="material-icons right secondary-content">{% if member.status %}done{% else %}close{% endif %}</i>
		            </a>
		            <script type="text/javascript">add({{member.id}});</script>
		            {% endif %}{% endfor %}
                            </div>
		        </div>
                    </li>
		    <li>
                        <div class="collapsible-header"><i class="material-icons">account_circle</i>Gäste</div>
                        <div class="collapsible-body">
		            <div class="collection">
                            {% for member in project.member_set.all %}{% if member.mtype == 'G' %}
		            <a href="{% url 'cyka:member_edit' member.id %}" class="collection-item">
		                <i class="left secondary-content">
		                <span id="{{member.id}}" class="badge"></span>
			        </i>{{member.name}}</i>
		            </a>
		            {% endif %}{% endfor %}
                            </div>
                        </div>
                    </li>
		    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Moderatoren</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
		    </ul>
                </div>
                <div class="card-action">
                  <div class="right-align">
		    <a href="{% url 'cyka:member_new' project.id %}"><button class="btn btn btn-primary">Neu</button></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

