{% extends 'cyka/project_base.html' %}

{% block content %}
    <div class="project">
        <div id="content-main">
            <div class="app-polls module">
          <table style=width:100%>
	    <caption>
              <p class="section" title="Cyka">Themen</p>
            </caption>
            {% for a in agenda %}
   	      <tr class="model-question">
                <th scope="row"></th>
                <td><p>{{ a.0.name }} - {{ a.0.color }}</p>
			<p>
            		{% for p in a.0.person %}
                		{{ p.name }}
            		{% endfor %}
			</p><td>
                <td><p>{{ a.1.name }} - {{ a.1.color }}</p>
			<p>
            		{% for p in a.1.person %}
                		{{ p.name }}
            		{% endfor %}
			</p><td>
	      </tr>
            {% endfor %}
        </div>
    </div>
    </div>
{% block member_add %}
{% endblock %}
{% endblock %}

