{% extends 'cyka/project_base.html' %}

{% block content %}
    <div class="project">
        <div id="content-main">
            <div class="app-polls module">
          <table>
	    <caption>
              <p class="section" title="Cyka">Themen</p>
            </caption>
            {% for a in agenda %}
   	      <tr class="model-question">
                <th scope="row"></th>
                <td><p>{{ a.0.name }}</p><td>
                <td><p>{{ a.1.name }}</p><td>
	      </tr>
            {% endfor %}
        </div>
    </div>
    </div>
{% block member_add %}
{% endblock %}
{% endblock %}

