<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://saturn2/external_api.js"></script>

    <title>Cyiko Meet</title>

</head>
<body>
    <div id="jitsi-container">
    </div>
    <script>
	var container = document.querySelector('#jitsi-container');
	var domain = "{{jitsi.domain}}";
            var options = {
	    roomName: "{{jitsi.room}}",
            height: 700,
            parentNode: container,
        };
        var api = new JitsiMeetExternalAPI(domain, options);
        api.executeCommand ('displayName', '{{jitsi.name}}'); 
        api.executeCommand ('subject', '{{jitsi.subject}}'); 
    </script>
</body>

</html>
