{% extends 'cyka/project_base.html' %}
{% load material_form %}
{% load static %}

{% block extrahead %}
{% endblock %}

{% block javascript %}
<script src="{% static 'meet/meet.js' %}"></script>
<script src="{% static 'libs/lib-jitsi-meet.min.js' %}"></script>
<script src="{% static 'libs/jitsi-example.js' %}"></script>
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-2">Hello</span>
        <a class="btn-floating waves-effect waves-light red" onclick="hello()"><i class="material-icons">call_end</i></a>
Wasserfall
    <a href="#" onclick="unload()">Unload</a>
    <a href="#" onclick="switchVideo()">switchVideo</a>
    <div id="audioOutputSelectWrapper" style="display: none;">
        Change audio output device
        <select id="audioOutputSelect" onchange="changeAudioOutput(this)"></select>
    </div>
     <video id="localVideo" autoplay="true"></video>
    <audio id="localAudio" autoplay="true" muted="true"></audio>
      </div>
    </div>
</div>
{% endblock %}
