{% extends 'cyka/project_base.html' %}
{% block extrahead %}
    <style type="text/css">
    .listel {
	padding-right: 50px;
        margin-right: 50px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="row valign change-form">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            {% for section in workflow %}
            <div class="card">
                <div class="card-content"><script>var counter = 0;</script>
			<span class="card-title grey-text text-darken-2">{{section.name}}</span>
		    <div class="collection">
                    {% for step in section.steps %}
		      <a href="{% url step.link project.id %}" class="collection-item avatar">
			 <i class="material-icons circle {% if step.done %}blue{% endif %}">{{step.icon}}</i>
                         <span class="title">{{step.short}}</span>
                         <p class="listel">{{step.desc}}</p>
			 </i><i class="material-icons right secondary-content">{% if step.done %}done{% else %}close{% endif %}</i>
		      </a>
		      {% endfor %}
                    </div>
                </div>
                <div class="card-action">
                {% block actions %}
                {% endblock %}
                </div>
            </div>
	   {% endfor %}
        </div>
    </div>
{% endblock %}

