{% extends 'cyka/project_base.html' %}

{% block extrahead %}
</style>
{% endblock %}

{% block javascript %}
<script>
function execute(myurl) {
    $.ajax({
        type: "GET",
        url: myurl,
    })
}
</script>
{% endblock %}

{% block content %}
<div class="row valign">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="card">
        <div class="card-content">
            <span class="card-title grey-text text-darken-2">Allen Teilnehmern Themen zuordnen</span>
        </div>
        <div class="card-action">
        <div class="right-align">
            <a id="_start_button" onmouseover="this.style.cursor='pointer'"
				  onclick="execute('{% url 'cyka:save_all_priorities' %}?project={{project.id}}')"
	     class="hoverable waves-effect waves-light btn blue">Zuordnen</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
