{% block javascript %}
<script>
  var interval = null;
  function refreshSupporter(){
    interval = setInterval(function() {
	aurl2('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=supporter', '#_supporter')
    }, 3000);
  }
  $(document).ready(function(){
    small();
    aurl2('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=pad', '#_padArea');
    $('.tooltipped').tooltip({enterDelay: 1000});
    refreshSupporter();
    });
    function aurl2(myurl, where) {
        $.ajax({
            type: "GET",
		url: myurl,
        })
        .done(function(response) {
            $(where).html(response);
        }); 
    }
    function leave(url){
        clearInterval(interval);
        aurl(url, '#_appendHere');
    }   
</script>
{% endblock %}
{% block content %}
<div>
    <div class="col actionarea">
        <div id="_padArea" class="row actionarea right">
        </div>
    </div>
    <div class="col navarea right">
        <div class="row">
            <a class="btn-floating btn-large red right" onclick="leave('{% url 'cyka:personal_table' member.uuid %}')"><i class="right material-icons tooltipped" data-tooltip="Verlassen">exit_to_app</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
        <div class="row">
            <a id="_thumbButton" onclick="aurl2('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=sign', '#_supporter')" class="btn-floating btn-large right blue disabled"><i class="material-icons tooltipped" data-tooltip="Thema unterstützen">thumb_up</i></a>
        </div>
    </div>
</div>
{% endblock %}
