{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  function refreshSupporter(){
    tmp = setInterval(function() {
	aurl2('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=supporter', '#_supporter')
    }, 3000);
    refreshs.push(tmp);
  }
  $(document).ready(function(){
      {% if not step.done %}
      refreshSupporter();
      hangup();
      connectRoom('{{jitsi.room}}');
      {% endif %}
      aurl2('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=pad', '#_pad');
      $('#_right_nav').append('<ul>' + get_button_html1() + get_button_html2() + '</ul>');
      //$('.tooltipped').tooltip({enterDelay: 1000});
      $('.modal').modal({dismissible: false});
      refreshStep();
    });
    function leave(url){
        {% if not step.done %}
        hangup();
	connectVideo();
        {% endif %}
        $('#_right_nav').empty();
        aurl(url);
    }

function get_button_html1(){
    html ='<li style="display: inline"><a style="margin-right: 5px" class="hoverable btn-floating waves-effect waves-light red" onclick="leave(\'{% url 'cyka:personal_table' member.uuid %}\')"><i class="material-icons tooltipped" data-tooltip="Verlassen">exit_to_app</i></a></li>'
    return html;
}

function get_button_html2(){
    html ='<li style="display: inline"><a class="hoverable btn-floating waves-effect waves-light blue {% if step.done %}disabled{% endif %}" onclick="aurl2(\'{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=sign\', \'#_supporter\')"><i class="material-icons tooltipped" data-tooltip="Thema unterstützen">thumb_up</i></a></li>';
    return html;
}

function updateStep(){
  $.ajax({
      type: "GET",
      url: '{% url 'cyka:get_json_step' %}?member={{member.uuid}}',
      complete: function (response) {
	var obj = $.parseJSON(response.responseText);
	var next = false;
	var open = false;
        $.each(obj.steps , function(index, val) {
	  if (val.sid == {{step.step}} && val.status != '{{step.status}}'){
            open = true;
	  } else if (val.sid == {{step.step}} && val.status != 'O'){
	    next = true;
	  } else if (next && val.status != 'O'){
            open = true;
	  }
        });
	if(open){      
	  $('#modal_step').modal('open');
        }
      }
  });
}

function refreshStep(){
  tmp = setInterval(function() {
    updateStep();
  }, 3000);
  refreshs.push(tmp);
}

</script>
{% endblock %}
{% block content %}
<div id="_pad" class="col actionarea vertcontainer">
</div>

<!-- Modal Structure -->
<div id="modal_step" class="modal">
  <div class="modal-content">
    <h4>Weiter</h4>
    {% if step.status == 'S' %}
    <p>Das Einreichen von Themenvorschläge wurde beendet, es können keine weiteren Eingaben gemacht werden</p>
    {% else %}
    <p>Weiter zur nächsten Aktion</p>
    {% endif %}
  </div>
  <div class="modal-footer">
      <a class="modal-close waves-effect blue btn" onclick="leave('{% url 'cyka:personal_schedule_jostle' member.uuid %}')">OK</a>
  </div>
</div>
{% endblock %}
