{% load material_form %}
{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
    refreshStep();
    refreshAsi();
    set_active_label('#_topic_label');
    $('.tooltipped').tooltip({enterDelay: 1000});
    $('.modal').modal({dismissible: false});
  });
  
  function createASI(name, id){
	  if(confirm("Neues Thema \"" + name + "\". Zur Ausarbeitung wird ein Raum erstellt.")){
	    aurl("{% url 'cyka:personal_join_table' member.uuid %}?si=" + id);
	  }
  }

function updateStep(){
  $.ajax({
      type: "GET",
      url: '{% url 'cyka:get_json_step' %}?member={{member.uuid}}',
      complete: function (response) {
	var obj = $.parseJSON(response.responseText);
	var next = false;
	var open = false;
        $.each(obj.steps , function(index, val) {
	  if (val.sid == {{step.step}} && val.status != '{{step.status}}'){
            open = true;
	  } else if (val.sid == {{step.step}} && val.status != 'O'){
	    next = true;
	  } else if (next && val.status != 'O'){
            open = true;
	  }
        });
	if(open){      
	  $('#modal_step').modal('open');
        }
      }
  });
}

function refreshStep(){
  tmp = setInterval(function() {
    updateStep();
  }, 3000);
  refreshs.push(tmp);
}

function add_asi(add, section, notsection, obj){
  id = obj.cardid;
  n_name = notsection + id;
  name = section + id;
  
  if($("#" + n_name).length != 0) {
    $("#" + n_name).remove();
  }
  if($("#" + name).length == 0) {
    $(add).before(get_asi_html(name, obj));
    //remove asi
    if($("#_si_" + id).length != 0) {
      $("#_si_" + id).empty();
      $("#_si_" + id).removeClass();
      $("#_si_" + id).addClass('card-placeholder');
    }
  } else {
    //update progress
    $("#_progress_" + id).css("width", obj.progress + "%");
  }
}

function get_asi_html(name, table){
    url = '{% url 'cyka:personal_join_table' member.uuid %}' + '?table=' + table.id;
    html = '<div id="' + name + '" class="hoverable item card-panel mplanopen blue lighten-3" onmouseover="this.style.cursor=\'pointer\'" onclick="aurl(\'' + url + '\')"><div class="progress grey lighten-3" style="margin-top: -10px;"><div id="_progress_' + table.cardid + '" class="determinate grey darken-2" style="width: ' + table.progress + '%"></div></div><span class="black-text card-title" STYLE="font-size:16px">' + table.name + '</span><br/><span class="grey-text text-darken-4">' + table.desc + '</span></div>';
    return html;
}
         
function updateAsi(){
  $.ajax({
      type: "GET",
      url: '{% url 'cyka:get_json_asi' %}?member={{member.uuid}}',
      complete: function (response) {
	var obj = $.parseJSON(response.responseText);
	$.each(obj , function(index, val) {
	    console.log(val.name)
	    if (val.progress == 100) {
		add_asi('#_asi_fill', '_asi_', '_vasi_', val);
	    } else {
		add_asi('#_vasi_fill', '_vasi_', '_asi_', val);
	    }
        });
      }
  });
}

function refreshAsi(){
  updateAsi();
  tmp = setInterval(function() {
    updateAsi();
  }, 2000);
  refreshs.push(tmp);
}

</script>
{% endblock %}
<div id='_asi_container' class="cardcontainer">
        {% for t in tables %}
            {% if t.progress == 100 %}
	    <div id="_asi_{{t.table.card.id}}" class="hoverable item card-panel mplanopen blue lighten-3" onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:personal_join_table' member.uuid %}?table={{ t.table.id }}')">
		    <div class="progress" style="margin-top: -10px;">
		        <div id="_progress_{{t.table.card.id}}" class="determinate grey darken-2" style="width: {{t.progress}}%"></div>
                    </div>
		    <span class="black-text card-title" STYLE="font-size:16px">{{t.table.card.heading}}</span><br/>
		    <span class="grey-text text-darken-4">{{t.table.card.desc}}</span>
            </div>
            {% endif %}
	{% endfor %}
  <div id="_asi_fill" class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
</div>
<div class="divider"></div>
<div id="_vasi_container" class="cardcontainer">
        {% for t in tables %}
            {% if t.progress != 100 %}
	    <div id="_vasi_{{t.table.card.id}}" class="hoverable item card-panel mplanopen blue lighten-3" onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:personal_join_table' member.uuid %}?table={{ t.table.id }}')">
		    <div class="progress" style="margin-top: -10px;">
		        <div id="_progress_{{t.table.card.id}}" class="determinate grey" style="width: {{t.progress}}%"></div>
                    </div>
		    <span class="black-text card-title" STYLE="font-size:16px">{{t.table.card.heading}}</span><br/>
		    <span class="grey-text text-darken-4">{{t.table.card.desc}}</span>
            </div>
            {% endif %}
	{% endfor %}
  <div id="_vasi_fill" class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
</div>
<div class="divider"></div>
<div class="cardcontainer">
        {% for si in sis %}
            {% if si.asi == 0 %}
              {% if step.done %}
	      <div id="_si_{{si.card.id}}" class="item card-panel mplanopen blue lighten-3">
              {% else %}
	      <div id="_si_{{si.card.id}}" class="hoverable item card-panel mplanopen tooltipped blue lighten-3" onmouseover="this.style.cursor='pointer'" onclick="createASI('{{si.card.heading}}', '{{si.card.id}}')" data-tooltip="Themenvorschlag erstellen">
              {% endif %}
		<span class="black-text card-title" STYLE="font-size:16px">{{si.card.heading}}</span><br/>
		<span class="grey-text text-darken-4">{{si.card.desc}}</span>
            </div>
            {% else %}
            <div id="_si_{{si.card.id}}" class="card-placeholder"></div>
            {% endif %}
	{% endfor %}
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
</div>

<!-- Modal Structure -->
<div id="modal_step" class="modal">
  <div class="modal-content">
    <h4>Weiter</h4>
    {% if step.status == 'S' %}
    <p>Das Einreichen von Themenvorschläge wurde beendet, es können keine weiteren Eingaben gemacht werden</p>
    {% else %}
    <p>Weiter zur nächsten Aktion</p>
    {% endif %}
  </div>
  <div class="modal-footer">
      <a class="modal-close waves-effect blue btn" onclick="aurl('{% url 'cyka:personal_schedule_jostle' member.uuid %}')">OK</a>
  </div>
</div>

