{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  function refreshSupporter(){
    tmp = setInterval(function() {
	aurl2('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=supporter', '#_supporter')
    }, 3000);
    refreshs.push(tmp);
  }
  $(document).ready(function(){
      small();
      {% if not step.done %}
      refreshSupporter();
      hangup();
      connectRoom('{{jitsi.room}}');
      {% endif %}
      aurl2('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=pad', '#_pad');
      $("#_navbase").hide();
      $('.tooltipped').tooltip({enterDelay: 1000});
    });
    function leave(url){
        {% if not step.done %}
        hangup();
	connectVideo();
        {% endif %}
        $("#_navbase").show();
        aurl(url);
    }
</script>
{% endblock %}
{% block content %}
    <div id="_pad" class="col actionarea">
    </div>
    <div class="col navarea right">
        <div class="row">
	    <a class="btn-floating btn-large red right" onclick="leave('{% url 'cyka:personal_table' member.uuid %}')"><i class="right material-icons tooltipped" data-tooltip="Verlassen">exit_to_app</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
        <div class="row">
		<a id="_thumbButton" onclick="aurl2('{% url 'cyka:personal_join_table' member.uuid %}?table={{table.id}}&function=sign', '#_supporter')" class="btn-floating btn-large right blue {% if step.done %}disabled{% endif %}"><i class="material-icons tooltipped" data-tooltip="Thema unterstützen">thumb_up</i></a>
        </div>
    </div>
{% endblock %}
