{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  function refreshSupporter(){
    tmp = setInterval(function() {
	aurl2('{% url 'cyka:moderator_problemjostle' project.id %}?table={{table.id}}&function=supporter', '#_supporter')
    }, 3000);
    refreshs.push(tmp);
  }
  $(document).ready(function(){
      small();
      {% if not step.done %}
      refreshSupporter();
      hangup();
      connectRoom('{{jitsi.room}}');
      {% endif %}
      aurl2('{% url 'cyka:moderator_problemjostle' project.id %}?table={{table.id}}&function=pad', '#_pad');
      $('.tooltipped').tooltip({enterDelay: 1000});
    });
    function leave(url){
        {% if not step.done %}
        hangup();
	connectVideo();
        {% endif %}
        aurl(url);
    }
</script>
{% endblock %}
{% block content %}
    <div id="_pad" class="col actionarea" style="padding-right: 55px">
    </div>
    <div class="col navarea right">
        <div class="row">
	    <a class="btn-floating red right" onclick="leave('{% url 'cyka:moderator_schedule' %}?project={{project.id}}')"><i class="right material-icons tooltipped" data-tooltip="Verlassen">exit_to_app</i></a>
        </div>
    </div>
{% endblock %}
