{% block javascript %}
<script>
  var interval = null;
  function refreshSupporter(){
    interval = setInterval(function() {
	aurl2('{% url 'cyka:moderator_problemjostle' project.id %}?table={{table.id}}&function=supporter', '#_supporter')
    }, 3000);
  }
  $(document).ready(function(){
    small();
    aurl2('{% url 'cyka:moderator_problemjostle' project.id %}?table={{table.id}}&function=pad', '#_pad');
    $('.tooltipped').tooltip({enterDelay: 1000});
    refreshSupporter();
    });
    function leave(url){
        clearInterval(interval);
        aurl(url);
    }   
</script>
{% endblock %}
{% block content %}
<div class="headcontainer">
    <div id="_pad" class="col actionarea">
    </div>
    <div class="col navarea right">
        <div class="row">
	    <a class="btn-floating btn-large red right" onclick="leave('{% url 'cyka:moderator_problemjostle' project.id %}?function=asi')"><i class="right material-icons tooltipped" data-tooltip="Verlassen">exit_to_app</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
    </div>
</div>
{% endblock %}
