{% block extrahead %}
      <style>
      </style>
{% endblock %}
{% block javascript %}
<script>
  var page = parseInt({{page}});
  $(document).ready(function(){
    small();
    queryString = window.location.search;
    document.getElementById("page_" + page).classList.add('class', "active");
    if(page == 1){
      //disable page left
      document.getElementById("page_left").classList.add('class', "disabled");
    } else {
      //set url to page left
      var left = (page.valueOf() - 1).valueOf();
      var url = "{% url 'cyka:personal_card' member.uuid %}?project={{project.id}}&page=" + left.toString();
      document.getElementById("page_left_link").setAttribute('onclick', "aurl('" + url + "')");
    }
    if(page == {{ pages|length }}){
      //disable page right
      document.getElementById("page_right").classList.add('class', "disabled");
    } else {
      //set url to page right
      var right = (page.valueOf() + 1).valueOf();
      var url = "{% url 'cyka:personal_card' member.uuid %}?project={{project.id}}&page=" + right.toString();
      document.getElementById("page_right_link").setAttribute('onclick', "aurl('" + url + "')");
    }
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
</script>
{% endblock %}
<div class="headcontainer">
    <div class="col actionarea">
        <ul class="pagination center">
            <li id="page_left"><a id="page_left_link"><i class="material-icons waves-effect">chevron_left</i></a></li>
            {% for p in pages %}	
	    <li id="page_{{ p }}"><a onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:personal_card' member.uuid %}?page={{ p }}')">{{ p }}</a></li>
	    {% endfor %}
            <li id="page_right" class="waves-effect"><a id="page_right_link"><i class="material-icons">chevron_right</i></a></li>
         </ul>
      <div class="row valign">
        {% for card in cards %}
            {% if step.done or all %}
	    <a>
            {% else %}
	    <a onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:personal_card' member.uuid %}?project={{project.id}}&card={{card.id}}')">
            {% endif %}
	    <div class="col card mplan {% if not all and not step.done %}tooltipped{% endif %}" data-tooltip="Bearbeiten">
                <div class="card-content black-text">
		    <span class="card-title grey-text text-darken-2">{{card.heading}}</span>
		    <p>{{card.desc}}</p>
                </div>
            </div>
	    </a>
	{% endfor %}
      </div>
    </div>
    <div class="col right navarea">
        <div class="row">
	    <a class="btn-floating btn-large blue right" onclick="get_agenda()"><i class="right material-icons tooltipped" data-tooltip="Agenda">group_work</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
        <div class="row">
		<a  onclick="aurl('{% url 'cyka:personal_card' member.uuid %}?card=new')" class="btn-floating btn-large blue right {% if step.done %}disabled{% endif %}"><i class="material-icons tooltipped" data-tooltip="Neu">add_box</i></a>
        </div>
        <div class="row">
	    <a  onclick="aurl('{% url 'cyka:personal_card' member.uuid %}')" class="btn-floating btn-large blue right {% if not all %}disabled{% endif %}"><i class="material-icons tooltipped" data-tooltip="Nur meine anzeigen">perm_identity</i></a>
        </div>
        <div class="row">
	    <a  onclick="aurl('{% url 'cyka:personal_card' member.uuid %}?cards=all')" class="btn-floating btn-large blue right {% if all %}disabled{% endif %}"><i class="material-icons tooltipped" data-tooltip="Alle anzeigen">people_outline</i></a>
        </div>
    </div>
</div>
