{% block extrahead %}
      <style>
      .debugrow .debugcol {
        border: 1px dotted #0313fc
      }
      </style>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
</script>
{% endblock %}
<div class="col actionarea">
  <div class="col">
      <div>
        <ul class="pagination center">
          <li class="active waves-effect blue"><a href="#!">Brainwriting</a></li>
          <li class="waves-effect disabled"><a href="#!">Themenvorschlag</a></li>
          <li class="waves-effect disabled"><a href="#!">Themenwahl</a></li>
          <li class="waves-effect disabled"><a href="#!">Priorisierung</a></li>
          <li class="waves-effect disabled"><a href="#!">Agenda</a></li>
        </ul>
      </div>
      <div class="row center">
        <a class="waves-effect waves-light btn-floating blue disabled"><i class="material-icons tooltipped" data-tooltip="Schritt zurücksetzen">fast_rewind</i></a>
	<a onmouseover="this.style.cursor='pointer'" onclick="submit('O','{% url 'cyka:moderator_brainwriting' project.id %}', '{{step.step}}')"
	     class="waves-effect waves-light btn-floating blue {% if step.status == 'O' %}disabled{% endif%}">
		<i class="material-icons tooltipped" data-tooltip="Starten">replay</i>
        </a>
        <a onmouseover="this.style.cursor='pointer'" onclick="submit('S', '{% url 'cyka:moderator_brainwriting' project.id %}', '{{step.step}}')"
	     class="waves-effect waves-light btn-floating blue {% if step.status != 'O' %}disabled{% endif%}"><i class="material-icons tooltipped" data-tooltip="Starten">play_arrow</i>
        </a>
        <a onmouseover="this.style.cursor='pointer'" onclick="submit('B', '{% url 'cyka:moderator_brainwriting' project.id %}', '{{step.step}}')"
	     class="waves-effect waves-light btn-floating blue {% if step.status != 'S' %}disabled{% endif%}"><i class="material-icons tooltipped" data-tooltip="Stoppen">stop</i>
        </a>
        <a onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:moderator_problemjostle' project.id %}')"
	     class="waves-effect waves-light btn-floating blue {% if step.status != 'B' %}disabled{% endif%}"><i class="material-icons tooltipped" data-tooltip="nächster Schritt">fast_forward</i></a>
      </div>
      <div class="cardcontainer">
        {% for card in cards %}
	    <div class="item card-panel mplanopen blue lighten-5">
		<span class="black-text card-title" STYLE="font-size:16px">{{card.heading}}</span><br/>
		<span class="grey-text text-darken-2">{{card.desc}}</span>
            </div>
	{% endfor %}
        <div class="card-placeholder"></div>
        <div class="card-placeholder"></div>
        <div class="card-placeholder"></div>
        <div class="card-placeholder"></div>
        <div class="card-placeholder"></div>
      </div>
  </div>
</div>
