{% block extrahead %}
      <style>
      .debugrow .debugcol {
        border: 1px dotted #0313fc
      }
      </style>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
    $('#_reset_button').attr('onclick',"submit('O','{% url 'cyka:moderator_brainwriting' project.id %}', '{{step.step}}')");
    $('#_start_button').attr('onclick',"submit('S', '{% url 'cyka:moderator_brainwriting' project.id %}', '{{step.step}}')");
    $('#_stop_button').attr('onclick',"submit('B', '{% url 'cyka:moderator_brainwriting' project.id %}', '{{step.step}}')");
    $('#_next_button').attr('onclick',"aurl('{% url 'cyka:moderator_problemjostle' project.id %}')");
    activate_buttons('{{step.status}}');
    $('#_back_button').addClass('disabled');
    set_active_label('#_brain_label');
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
</script>
{% endblock %}
<div class="col actionarea">
  <div class="col">
      <div class="cardcontainer">
        {% for card in cards %}
	    <div class="item card-panel mplanopen blue lighten-3">
		<span class="black-text card-title" STYLE="font-size:16px">{{card.heading}}</span><br/>
		<span class="grey-text text-darken-4">{{card.desc}}</span>
            </div>
	{% endfor %}
        <div class="card-placeholder"></div>
        <div class="card-placeholder"></div>
        <div class="card-placeholder"></div>
        <div class="card-placeholder"></div>
        <div class="card-placeholder"></div>
      </div>
  </div>
</div>
