{% block extrahead %}
      <style>
      .debugrow .debugcol {
        border: 1px dotted #0313fc
      }
      </style>
{% endblock %}
{% block javascript %}
<script>
  var page = parseInt({{page}});
  $(document).ready(function(){
    small();
    queryString = window.location.search;
    document.getElementById("page_" + page).classList.add('class', "active");
    if(page == 1){
      //disable page left
      document.getElementById("page_left").classList.add('class', "disabled");
    } else {
      //set url to page left
      var left = (page.valueOf() - 1).valueOf();
      var url = "{% url 'cyka:moderator_brainwriting' project.id %}?function=si&page=" + left.toString();
      document.getElementById("page_left_link").setAttribute('onclick', "aurl('" + url + "')");
    }
    if(page == {{ pages|length }}){
      //disable page right
      document.getElementById("page_right").classList.add('class', "disabled");
    } else {
      //set url to page right
      var right = (page.valueOf() + 1).valueOf();
      var url = "{% url 'cyka:moderator_brainwriting' project.id %}?function=si&page=" + right.toString();
      document.getElementById("page_right_link").setAttribute('onclick', "aurl('" + url + "')");
      //document.getElementById("page_right_link").setAttribute('href', url);
    }
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
</script>
{% endblock %}
<div class="headcontainer">
    <div class="col actionarea">
      <ul class="pagination center">
        <li id="page_left"><a id="page_left_link"><i class="material-icons waves-effect">chevron_left</i></a></li>
          {% for p in pages %}	
	    <li id="page_{{ p }}"><a onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:moderator_brainwriting' project.id %}?function=si&page={{ p }}')">{{ p }}</a></li>
	  {% endfor %}
        <li id="page_right" class="waves-effect"><a id="page_right_link"><i class="material-icons">chevron_right</i></a></li>
      </ul>
      <div class="row valign">
        {% for card in cards %}
	    <div class="col card mplan">
                <div class="card-content black-text">
		    <span class="card-title grey-text text-darken-2">{{card.heading}}</span>
		    <p>{{card.desc}}</p>
                </div>
            </div>
	{% endfor %}
      </div>
    </div>
    <div class="col right navarea">
        <div class="row">
	    <a class="btn-floating btn-large blue right" onclick="get_agenda()"><i class="right material-icons tooltipped" data-tooltip="Agenda">menu</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="aurl('{% url 'cyka:moderator_brainwriting' project.id %}')"><i class="left material-icons secondary-content">schedule</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="aurl('{% url 'cyka:moderator_brainwriting' project.id %}?function=si')"><i class="left material-icons secondary-content">content_copy</i></a>
        </div>
    </div>
</div>
