{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({enterDelay: 1000});
    $('.modal').modal({dismissible: false});
    refreshStep();
  });

function refreshStep(){
  updateStep();
  tmp = setInterval(function() {
    updateStep();
  }, 3000);
  refreshs.push(tmp);
}

function updateStep(){
  $.ajax({
      type: "GET",
      url: '{% url 'cyka:get_json_step' %}?member={{member.uuid}}',
      complete: function (response) {
	var obj = $.parseJSON(response.responseText);
	var next = false;
        $.each(obj.steps , function(index, val) {
	  if (val.sid == {{step.step}} && val.status != 'S'){
	    next = true;
	  }else if (next && val.status != 'O'){
            $('#modal1').modal('open');
	  }
        });
      }
  });
}
</script>

{% endblock %}
<div class="col actionarea" style="height: 100%">
  <div class="vertcontainer">
    <div class="row center vertbox0">
        <ul class="pagination center">
          <li class="active waves-effect blue"><a>Begrüßung</a></li>
          <li class="disabled"><a>Brainwriting</a></li>
          <li class="disabled"><a>Themenvorschlag</a></li>
          <li class="disabled"><a>Themenwahl</a></li>
          <li class="disabled"><a>Priorisierung</a></li>
          <li class="disabled"><a>Agenda</a></li>
        </ul>
    </div>
    <div class="row center vertbox1">
      <div class="row center">
	    <p>Bitte warten Sie, bis der Moderator den Workshop startet</p>
      </div>
      <div class="row center valign">
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Weiter</h4>
    <p>Der Workshop wurde gestartet</p>
  </div>
  <div class="modal-footer">
      <a class="modal-close waves-effect blue btn" onclick="aurl('{% url 'cyka:personal_schedule_jostle' member.uuid %}')">OK</a>
  </div>
</div>
