{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
function reset(){
  $.ajax({
      type: "POST",
      url: '{% url 'cyka:member_priorization' member.uuid %}',
      data:{
              function:'reset',
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post'
          },
      })
      .done(function(response) {
	  $('.tooltipped').tooltip('close');
          $('#_appendHere').html(response);
      });
}
function sendOrder(d){
  $.ajax({
      type: "POST",
      url: '{% url 'cyka:member_priorization' member.uuid %}',
      data:{
	      order:JSON.stringify(d),
              function:'push_order',
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post'
          },
      })
      .done(function(response) {
	  $('.tooltipped').tooltip('close');
          $('#_appendHere').html(response);
      });
}
  $(document).ready(function(){
	  console.log("READY");
    small();
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
    function leave(url){
        aurl(url);
    }
    function goAgenda(){
        get_agenda();
    }
var _el;

function dragOver(e) {
  if (isBefore(_el, e.target))
    e.target.parentNode.insertBefore(_el, e.target);
  else
    e.target.parentNode.insertBefore(_el, e.target.nextSibling);
}

function dragStart(e) {
  e.dataTransfer.effectAllowed = "move";
  e.dataTransfer.setData("text/plain", null); // Thanks to bqlou for their comment.
  _el = e.target;
}

function isBefore(el1, el2) {
  if (el2.parentNode === el1.parentNode)
    for (var cur = el1.previousSibling; cur && cur.nodeType !== 9; cur = cur.previousSibling)
      if (cur === el2)
        return true;
  return false;
}

function send_sorting() {
  var topics = [];
  $( "#_topicList li" ).each(function( index ) {
    var element = {}
    element.order = index;
    element.number = $( this ).data("number");
    element.name = $( this ).text();
    topics.push(element);
  });
  sendOrder( topics );
}

</script>
{% endblock %}
<div class="headcontainer">
    <div class="col actionarea">
        <div id="themen" >
            <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">Themen Liste</span>
		    <ul id="_topicList" class="collection">
		    {% for prio in priority_list.plist %}
		    <li class="collection-item" {%if not member.status %}onmouseover="this.style.cursor='pointer'" draggable="true" ondragover="dragOver(event)" ondragstart="dragStart(event)"{% endif %}data-number="{{prio.topic.number}}">{{prio.topic.name}}
		        <span class="secondary-content">
		        {% if prio.assigned %}
			  <i class="material-icons icon-text icon-blue">person</i>
	                {% endif %}
			</span>
		    </li>
	            {% endfor %}
		    </ul>
                </div>
                <div class="card-action">
			<a class="btn btn-medium blue waves-effect {%if member.status or member.proj.hasagenda %}disabled{% endif %}" onclick="send_sorting()">Liste abgeben</a>
			<a class="btn btn-medium blue waves-effect {%if not member.status or member.proj.hasagenda %}disabled{% endif %}" onclick="reset()">Zurücksetzen</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col navarea">
        <div class="row">
	    <a class="btn-floating btn-large blue right" onclick="goAgenda()"><i class="right material-icons tooltipped" data-tooltip="Agenda">menu</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue disabled" onclick="aurl()"><i class="left material-icons secondary-content">assignment</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="aurl('{% url 'cyka:member_priorization' member.uuid %}?function=agenda')"><i class="left material-icons secondary-content">group_work</i></a>
        </div>
    </div>
</div>
