{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  function updateMembers(json){
    var finished = true;
    var obj = $.parseJSON(json);
    $.each(obj.member , function(index, val) {
	if(val.status){
            $( "#_member_" + val.id + "_icon").text('check');
	} else {
	    finished = false;
            $( "#_member_" + val.id + "_icon").text('remove');
	}
    });
    if(finished && !obj.project.hasagenda){
	    $("#_stop_button").removeClass("disabled");
	    $("#_finish_step").removeClass("disabled");
    } else {
	    $("#_finish_step").addClass("disabled");
	    $("#_stop_button").addClass("disabled");
    }
  }
  function getMembers(){
    $.ajax({
        type: "GET",
        url: '{% url 'cyka:get_json_members' project.id %}',
	complete: function (response) {
          updateMembers(response.responseText)
      }
    });
  }
  function refreshMembers(){
    tmp = setInterval(function() {
	getMembers();
    }, 3000);
    refreshs.push(tmp);
  }
  $(document).ready(function(){
    $('#_back_button').attr('onclick',"aurl('{% url 'cyka:moderator_topicauction' project.id %}?function=table')");
    $('#_reset_button').attr('onclick',"submit('O','{% url 'cyka:moderator_priorization' project.id %}', '{{step.step}}')");
    $('#_start_button').attr('onclick',"submit('S','{% url 'cyka:moderator_priorization' project.id %}', '{{step.step}}')");
    $('#_stop_button').attr('onclick',"submit('B','{% url 'cyka:moderator_priorization' project.id %}', '{{step.step}}')");
    $('#_next_button').attr('onclick',"aurl('{% url 'cyka:moderator_priorization' project.id %}?function=agenda')");
    set_active_label('#_prio_label');
    activate_buttons('{{step.status}}');
    $('#_stop_button').addClass('disabled');
    refreshMembers();
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
    function resolve(){
	if (confirm("Möchten Sie die Themen Zuteilung auflösen?")){
	    aurl('{% url 'cyka:moderator_priorization' project.id %}?function=resolve');
	}
    }
</script>
{% endblock %}
<div class="col actionarea" style="overflow: hidden">
      <div class="card">
        <div class="collection">
          {% for m in member %}
	  <a class="collection-item" id="_member_{{m.id}}" onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:moderator_priorization' project.id %}?function=details&member={{m.id}}')"><div>
		  <span id="_member_{{m.id}}_name" class="icon-black">{{m.name}}</span>
		  <span class="secondary-content">
			  <i id="_member_{{m.id}}_icon" class="material-icons icon-text icon-blue">{% if m.status %}check{% else %}remove{% endif %}</i>
		  </span>
	  </div></a>
	  {% endfor %}
        </div>
      </div>
</div>
