{% block extrahead %}
<style>
tbody {
display:block;
height:100%;
overflow:auto;
}
thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}
thead {
width: calc( 100% - 1em )
}
table {
width:100%;
}
</style>
{% endblock %}
{% block javascript %}
<script>
  function updateMembers(json){
    console.log(json)
    var obj = $.parseJSON(json);
    $.each(obj.member , function(index, val) {
	console.log(val.id);
	if(val.status){
	    console.log("True");
            $( "#_member_" + val.id + "_icon").text('check');
	} else {
	    console.log("False");
            $( "#_member_" + val.id + "_icon").text('remove');
	}
    });
  }
  var interval = null;
  function getMembers(){
    $.ajax({
        type: "GET",
        url: '{% url 'cyka:get_json_members' project.id %}',
	complete: function (response) {
          updateMembers(response.responseText)
      }
    });
  }
  function refreshMembers(){
    interval = setInterval(function() {
	getMembers();
    }, 3000);
  }
  $(document).ready(function(){
    small();
    refreshMembers();
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
    function leave_agenda(url){
        clearInterval(interval);
        get_agenda();
    }   
    function leave(url){
        clearInterval(interval);
        aurl(url);
    }   
</script>
{% endblock %}
<div class="headcontainer">
<div class="col actionarea" style="overflow: hidden">
      <div class="card">
        <div class="collection">
          {% for m in member %}
	  <a class="collection-item" id="_member_{{m.id}}" onmouseover="this.style.cursor='pointer'"><div>
		  <span id="_member_{{m.id}}_name" class="icon-black">{{m.name}}</span>
		  <span class="secondary-content">
			  <i id="_member_{{m.id}}_icon" class="material-icons icon-text icon-blue">{% if m.status %}check{% else %}remove{% endif %}</i>
		  </span>
	  </div></a>
	  {% endfor %}
        </div>
	<div class="card-action">
	    <a class="btn blue" onclick="leave_agenda()">Themen Zuteilen</a>
        </div>
      </div>
</div>
    <div class="col right navarea">
        <div class="row">
	    <a class="btn-floating btn-large blue right" onclick="leave_agenda()"><i class="right material-icons tooltipped" data-tooltip="Agenda">menu</i></a>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="leave('{% url 'cyka:moderator_priorization' project.id %}')"><i class="left material-icons secondary-content">schedule</i></a>
        </div>
        <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue disabled" onclick="leave('{% url 'cyka:moderator_priorization' project.id %}?function=member')"><i class="left material-icons secondary-content disabled">people_outline</i></a>
        </div>
    </div>
</div>
