{% load material_form %}
{% block javascript %}
<script>
    function submit(stat){
      if ("{{step.before.done}}" == "False"){
	      return alert("Bitte beenden Sie erst den Agendapunkt {{step.before.short}}")
      }
      $.ajax({
          type: "POST",
	  url: '{% url 'cyka:moderator_priorization' project.id %}',
	  data:{
              status:stat,
	      step:'{{step.step}}',
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post'
          },
      })
      .done(function(response) {
          $('#_appendHere').html(response);
      });
    }
  $(document).ready(function(){
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
</script>
{% endblock %}

<div class="headcontainer">
<div class="col actionarea">
    <div class="card">
        <div class="card-content">
            <span class="card-title grey-text text-darken-2">Was ist zu tun</span>
 	    <p>{{step.todo}}</p>
            {% csrf_token %}
	    <div class="collection">
	        <a onmouseover="this.style.cursor='pointer'" onclick="submit('O')" class="collection-item {% if step.status == 'O' %}grey lighten-3{% endif %}">Offen<i class="material-icons left icon-blue">{% if step.status == 'O' %}radio_button_checked{% else %}radio_button_unchecked{% endif %}</i></a>
	        <a onmouseover="this.style.cursor='pointer'" onclick="submit('S')" class="collection-item {% if step.status == 'S' %}grey lighten-3{% endif %}">Gestartet<i class="material-icons left icon-blue">{% if step.status == 'S' %}radio_button_checked{% else %}radio_button_unchecked{% endif %}</i></a>
                <a onmouseover="this.style.cursor='pointer'" onclick="submit('B')" class="collection-item {% if step.status == 'B' %}grey lighten-3{% endif %}">Beendet<i class="material-icons left icon-blue">{% if step.status == 'B' %}radio_button_checked{% else %}radio_button_unchecked{% endif %}</i></a>
            </div>
        </div>
    </div>
</div>
<div class="col right navarea">
    <div class="row">
        <a class="btn-floating btn-large blue right" onclick="get_agenda()"><i class="right material-icons tooltipped" data-tooltip="Agenda">menu</i></a>
    </div>
    <div class="row">
        <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="resize()"><i class="left material-icons secondary-content">code</i></a>
    </div>
    <div class="row">
	    <a class="btn-floating btn-large waves-effect waves-light right blue disabled" onclick="aurl('{% url 'cyka:moderator_priorization' project.id %}')"><i class="left material-icons secondary-content">schedule</i></a>
    </div>
    <div class="row">
        <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="aurl('{% url 'cyka:moderator_priorization' project.id %}?function=member')"><i class="left material-icons secondary-content">people_outline</i></a>
    </div>
    <div class="row">
        <a class="btn-floating btn-large waves-effect waves-light right blue" onclick="leave('{% url 'cyka:moderator_priorization' project.id %}?function=agenda')"><i class="left material-icons secondary-content disabled">group_work</i></a>
    </div>
</div>
</div>
