{% block extrahead %}
<style>
</style>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
    small();
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
    function leave_agenda(url){
        get_agenda();
    }   
    function leave(url){
        aurl(url);
    }   
</script>
{% endblock %}
<div class="col actionarea" style="overflow: hidden">
      <div>
        <ul class="pagination center">
          <li class="waves-effect disabled"><a href="#!">Brainwriting</a></li>
          <li class="waves-effect disabled"><a href="#!">Themenvorschlag</a></li>
          <li class="waves-effect disabled"><a href="#!">Themenwahl</a></li>
          <li class="waves-effect disabled"><a href="#!">Priorisierung</a></li>
          <li class="waves-effect active blue"><a href="#!">Agenda</a></li>
        </ul>
      </div>
      <div class="row center">
        <a onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:moderator_priorization' project.id %}?function=member')"
		class="waves-effect waves-light btn-floating blue"><i class="material-icons tooltipped" data-tooltip="Schritt zurücksetzen">fast_rewind</i>
	</a>
	<a onmouseover="this.style.cursor='pointer'" onclick="submit('O','{% url 'cyka:moderator_priorization' project.id %}', '{{step.step}}')"
	     class="waves-effect waves-light btn-floating blue disabled">
		<i class="material-icons tooltipped" data-tooltip="Starten">replay</i>
        </a>
	<a onmouseover="this.style.cursor='pointer'" onclick="submit('S','{% url 'cyka:moderator_priorization' project.id %}', '{{step.step}}')"
	     class="waves-effect waves-light btn-floating blue disabled"><i class="material-icons tooltipped" data-tooltip="Starten">play_arrow</i>
        </a>
        <a onmouseover="this.style.cursor='pointer'" onclick="submit('B','{% url 'cyka:moderator_priorization' project.id %}', '{{step.step}}')"
	     class="waves-effect waves-light btn-floating blue disabled"><i class="material-icons tooltipped" data-tooltip="Stoppen">stop</i>
        </a>
        <a onmouseover="this.style.cursor='pointer'" onclick="aurl('{% url 'cyka:moderator_priorization' project.id %}?function=agenda')"
	     class="waves-effect waves-light btn-floating blue disabled"><i class="material-icons tooltipped" data-tooltip="nächster Schritt">fast_forward</i></a>
      </div>
{% for a in agenda %}
    <div class="row">
        <a onmouseover="this.style.cursor='pointer'" onclick="leave('{% url 'cyka:moderator_round' project.id %}?topic={{ a.0.topic.id }}')">
	<div class="col card mplan">
            <div class="card-content black-text">
	        <span class="card-title grey-text text-darken-2">{{ a.0.topic.name }}<i class="right material-icons icon-{{ a.0.topic.color }}">brightness_1</i></span>
            	{% for p in a.0.person %}
		<p>{{ p.name }} ({{p.priority}})</p>
            	{% endfor %}
            </div>
        </div>
	</a>
        <a onmouseover="this.style.cursor='pointer'" onclick="leave('{% url 'cyka:moderator_round' project.id %}?topic={{ a.1.topic.id }}')">
	<div class="col card mplan">
            <div class="card-content black-text">
	        <span class="card-title grey-text text-darken-2">{{ a.1.topic.name }}<i class="right material-icons icon-{{ a.1.topic.color }}">brightness_1</i></span>
            	{% for p in a.1.person %}
		    <p>{{ p.name }} ({{p.priority}})</p>
            	{% endfor %}
            </div>
        </div>
	</a>
    </div>
{% endfor %}
</div>
</div>
