{% block extrahead %}
<style>
</style>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
    $('#_back_button').attr('onclick',"aurl('{% url 'cyka:moderator_priorization' project.id %}?function=member')");
    $('#_back_button').removeClass('disabled');
    $('#_reset_button').attr('onclick',"");
    $('#_reset_button').addClass('disabled');
    $('#_start_button').attr('onclick',"");
    $('#_start_button').addClass('disabled');
    $('#_stop_button').attr('onclick',"");
    $('#_stop_button').addClass('disabled');
    $('#_next_button').attr('onclick',"");
    $('#_next_button').addClass('disabled');
    set_active_label('#_agenda_label');
    //activate_buttons('{{step.status}}');
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
    function leave_agenda(url){
        get_agenda();
    }   
    function leave(url){
        aurl(url);
    }   
</script>
{% endblock %}
<div class="col actionarea" style="overflow: hidden">
{% for a in agenda %}
    <div class="row cardcontainer">
	<div class="col card mplanopen hoverable"
            onmouseover="this.style.cursor='pointer'" 
	    onclick="leave('{% url 'cyka:moderator_round' project.id %}?topic={{ a.0.topic.id }}')">
            <div class="card-content black-text">
	        <span class="card-title grey-text text-darken-2">{{ a.0.topic.name }}<i class="right material-icons icon-{{ a.0.topic.color }}">brightness_1</i></span>
            	{% for p in a.0.person %}
		    <p>{{ p.name }} ({{p.priority}})</p>
            	{% endfor %}
            	{% for p in a.0.critics %}
		    <p class="grey-text">{{ p.name }} (Kritiker)</p>
            	{% endfor %}
            </div>
        </div>
	<div class="col card mplanopen hoverable"
            onmouseover="this.style.cursor='pointer'" 
	    onclick="leave('{% url 'cyka:moderator_round' project.id %}?topic={{ a.1.topic.id }}')">
            <div class="card-content black-text">
	        <span class="card-title grey-text text-darken-2">{{ a.1.topic.name }}<i class="right material-icons icon-{{ a.1.topic.color }}">brightness_1</i></span>
            	{% for p in a.1.person %}
		    <p>{{ p.name }} ({{p.priority}})</p>
            	{% endfor %}
            	{% for p in a.1.critics %}
		    <p class="grey-text">{{ p.name }} (Kritiker)</p>
            	{% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
</div>
