{% block javascript %}
<script>
    function getDetails(){
      $.ajax({
          type: "GET",
	  url: '{% url 'cyka:get_member_details' project.id %}?member={{member.id}}',
	  data:{
	      member:{{member.id}},
          },
      })
      .done(function(response) {
          $('#_memberDetails').html(response);
      });
    }
  $(document).ready(function(){
    getDetails();
    $('.tooltipped').tooltip({enterDelay: 1000});
  });
</script>
{% endblock %}

<div class="col actionarea" style="padding-right: 55px">
    <div id="_memberDetails">
    </div>
</div>
<div class="col right navarea">
    <div class="row">
        <a class="btn-floating blue right" onclick="aurl('{% url 'cyka:moderator_priorization' project.id %}?function=member')"><i class="right material-icons tooltipped" data-tooltip="Verlassen">arrow_back</i></a>
    </div>
</div>
