{% block extrahead %}
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
      small();
      hangup();
      connectRoom('{{jitsi.room}}');
      aurl2('{% url 'cyka:member_round' member.uuid %}?topic={{topic.id}}&function=pad', '#_pad');
      $("#_navbase").hide(0);
      $('.tooltipped').tooltip({enterDelay: 1000});
    });
    function leave(url){
        hangup();
	connectVideo();
        $("#_navbase").show(0);
        aurl(url);
    }   
</script>
{% endblock %}
{% block content %}
    <div id="_pad" class="col actionarea vertcontainer" style="padding-right: 50px;">
    </div>
    <div class="col navarea right">
        <div class="row">
	    <a class="btn-floating btn red right" onclick="leave('{% url 'cyka:member_priorization' member.uuid %}?function=agenda')"><i class="right material-icons tooltipped" data-tooltip="Verlassen">exit_to_app</i></a>
        </div>
    </div>
{% endblock %}
