{% block extrahead %}
<style>
</style>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
      small();
      hangup();
      connectRoom('{{jitsi.room}}');
      aurl2('{% url 'cyka:moderator_round' project.id %}?topic={{topic.id}}&function=pad', '#_pad');
      $('.tooltipped').tooltip({enterDelay: 1000});
    });
    function leave(url){
        hangup();
	connectVideo();
        aurl(url);
    }   
</script>
{% endblock %}
{% block content %}
    <div id="_pad" class="col actionarea vertcontainer" style="padding-right: 55px">
    </div>
    <div class="col navarea right">
        <div class="row">
	    <a class="btn-floating btn red right" onclick="leave('{% url 'cyka:moderator_priorization' project.id %}?function=agenda')"><i class="right material-icons tooltipped" data-tooltip="Verlassen">exit_to_app</i></a>
        </div>
    </div>
{% endblock %}
