i.icon-grey {
    color:grey;
}
i.icon-blue {
    color:blue;
}
.icon-black {
    color:black;
}
i.icon-green {
    color:green;
}
div.navarea {
    margin-top: 5px;
    width: 8%;
}
div.actionarea {
    width: 92%;
}

div.mplan {
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    height: 190px;
}
