i.icon-grey {
    color:grey;
}
i.icon-red {
    color:red;
}
i.icon-blue {
    color:blue;
}
.icon-black {
    color:black;
}
i.icon-green {
    color:green;
}
.icon-text {
  vertical-align: middle;
}
div.navarea {
    right: 15px;
    margin-top: 5px;
    margin-right: 5px;
    padding-right: 5px;
    width: 75px;
    float:right;
    position:absolute;
}
div.debug {
    border:3px solid black;
}
div.debug1 {
    border:3px solid red;
}
div.debug2 {
    border:3px solid green;
}
div.bottom-card {
    position:absolute;
    width: 85%;
    bottom:0;
    padding-bottom: 8px;
}
div.bottom {
    position:absolute;
    bottom:8px;
    right:5px;
}
div.votes {
    padding-left: 20px;
    margin-left: 5px;
    margin-right: 10px;
    width: 75px;
    float:right;
}

div.headcontainer {
    display:flex;
    overflow:hidden;
}

div.actionarea {
    flex: 1 1 auto;
    float:left;
    overflow:auto;
    margin-right: 25px;
}

div.padplan {
    width: 100%;
}

div.mplan {
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    height: 190px;
}
