i.icon-grey {
    color:grey;
}
i.icon-red {
    color:red;
}
i.icon-blue {
    color:blue;
}
.icon-black {
    color:black;
}
i.icon-green {
    color:green;
}
div.navarea {
    margin-top: 5px;
    margin-right: 5px;
    width: 75px;
    float:right;
}
div.debug {
    border:3px solid black;
}
div.debug1 {
    border:3px solid red;
}
div.debug2 {
    border:3px solid green;
}
div.bottom {
    position:absolute;
    bottom:0;
}
div.votes {
    margin-right: 0px;
    width: 75px;
    float:right;
}

div.headcontainer {
    display:flex;
}

div.actionarea {
    flex: 1 1 auto;
    float:left;
}

div.padplan {
    width: 100%;
}

div.mplan {
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    height: 190px;
}
