div.row {
    display: table;
    table-layout: auto;
    width: calc(100% - 10px);
    border: 1px solid blue;
    padding: 5px;
}

div.shortcolumn { 
    display: table-cell;
    border: thin solid red;
    width: 10%;
    padding: 5px;
}

div.column { 
    display: table-cell;
    border: thin solid red;
    padding: 5px;
}

